[2019-11-01 15:56] vrajat opened #18 "Exception when scanning oracle database"
I got everything set up but I'm running into an error.

I'm running it with this command: piicatcher db -s 192.168.168.13 -p 1521 -u USERNAME-p PASSWORD -c deep -t oracle -o piicatcher_results.txt. I also tried using localhost instead of my private IP.

The stack trace shows that line 387 of explorer.py is throwing a TypeError: 'host' is an invalid keyword argument for this function. Am I doing so

[2019-11-01 16:33] #18 closed

[2019-11-02 03:41] vrajat opened #20 "cx_Oracle_DatabaseError: ORA-00936: missing expression"
Running this: piicatcher db -s localhost -p 1521 -d orcl -u USERNAME-p PASSWORD -t oracle -o file.txt I'm getting "cx_Oracle_DatabaseError: ORA-00936: missing expression" at line 160 of explorer.py. I normally wouldn't mind debugging it myself a little to see what I can find out but I'm not very familiar with how python projects run as a command instead of calling the file directly.

Reddit commen

[2019-11-02 15:20] #20 closed

[2019-11-07 04:23] vrajat opened #22 "Piicatcher is not detecting any PII columns in an oracle database"
There is known PII in the database. The count of columns are:
* all_tab_columns: 27507
* dba_tab_columns: 182000

Initial suspicion is that catalog query results are not being consumed correctly.

[2019-11-13 12:23] #22 closed

[2019-11-14 11:06] vrajat opened #25 "Deep scan throws an error if column has NULL"

[2019-11-18 04:27] vrajat commented on #25
Fixed in 6ecd0ce

[2019-11-18 04:27] #25 closed

[2019-11-18 04:30] vrajat opened #29 "Replace pymssql as it is deprecated"
pymssql is deprecated pymssql/pymssql#668

Consider pyodbc as an alternative.

[2019-11-18 05:42] vrajat opened #30 "setup.py verify does not handle tag format correctly"
For example, [deploy of v0.5.5](https://circleci.com/gh/tokern/piicatcher/40) failed with

    running verify
    Git tag: v0.5.5 does not match the version of this app: 0.5.5
    Exited with code 1

[2019-12-18 11:12] jayeshagwan1 opened #33 "Not able to see complete data"
I followed the installation steps. Tried to run on files and db both, but getting the same output
![image](https://user-images.githubusercontent.com/616970/71081469-41812000-21b5-11ea-8ccd-84d9f3b2ba8d.png)

Can anyone help on what I am missing ?

[2019-12-18 16:30] vrajat commented on #33
I've found a bug. The application does not handle a single file correctly. I've been testing with a directory of files. I'll release a new version with the fix asap.

    piicatcher files --path tests/samples/ --output-format json
    [
      {
        "Mime/Type": "text/plain",
        "path": "tests/samples/sample-data.csv",
        "pii": [
          {
            "__enum__": "PiiTypes.EMAIL"

[2019-12-18 16:37] vrajat opened #34 "JSON output for file explorer throws an error"
AttributeError: 'FileExplorer' object has no attribute 'get_dict'

[2019-12-18 17:13] #33 closed

[2019-12-18 17:13] #34 closed

[2019-12-18 17:22] vrajat commented on #33
I've released a new version - 0.6.1. Please try it out and reopen the issue if it still doesnt work. Can you open a new issue for databases with details ? I'll take a look.

[2019-12-19 03:48] jayeshagwan1 commented on #33
Thanks @vrajat. json format working fine.

![image](https://user-images.githubusercontent.com/616970/71143306-1859a180-2240-11ea-807b-6d5f5ac85487.png)

Can we format ascii_table ?

![image](https://user-images.githubusercontent.com/616970/71143383-666ea500-2240-11ea-9eb8-533756f53962.png)

I will open a new issue for databases with details.

[2019-12-19 04:02] jayeshagwan1 opened #36 "Facing issue while using db"
I am using below command for sqlite db:

**piicatcher db -s '/db/data' -t sqlite --scan-type shallow**
where '/db/' is the path for data.sqlite file.

I am not sure what I am doing wrong. Getting below error.

![image](https://user-images.githubusercontent.com/616970/71143907-3922f680-2242-11ea-9321-beaf9bf5fe92.png)

If any detailed instructions are provided for db instances, it would help.

Than

[2019-12-19 04:10] vrajat opened #37 "Tabular output format cannot handle wide columns"
Refer to last comment in #33 .

cc @jayeshagwan1

[2019-12-19 04:14] vrajat opened #38 "Add documentation to connect to databases"
In #36 @jayeshagwan1 mentions that instructions to connect to databases is not available.

Command line arguments is available through help and not documented.

Config file is not documented at all.

[2019-12-19 06:31] #30 closed

[2019-12-19 06:31] #36 closed

[2019-12-19 06:40] vrajat commented on #36
I've released a new version v0.6.2. One major change is that I had to split sqlite to keep the command line clean. Refer below. I'll work on revamping docs. Please follow #38

    usage: piicatcher sqlite [-h] -s PATH [-f {ascii_table,json,db}]
                             [-c {deep,shallow}] [-o OUTPUT] [--list-all]

    optional arguments:
      -h, --help            show this help message and e

[2019-12-19 09:01] jayeshagwan1 commented on #36
Getting this error after v0.6.2

![image](https://user-images.githubusercontent.com/616970/71159763-481e9e80-226c-11ea-86db-cad12091dc69.png)

[2019-12-19 09:18] vrajat commented on #36
Can you check after running `pip install pymssql` ? The package is part of requirements and it should have been involved. I am not sure why it got missed. I'll see if I can reproduce it in the background.

[2019-12-19 09:23] jayeshagwan1 commented on #36
Tried installing pymssql

![image](https://user-images.githubusercontent.com/616970/71161355-338fd580-226f-11ea-8013-58f3ca7ea9a4.png)

[2019-12-19 09:35] vrajat commented on #29
PiiCatcher install is failing since pymssql release 3.0. A pip install throws the following error.

    Failed building wheel for pymssql
    Running setup.py clean for pymssql
    Failed to build pymssql
    ...
    DeprecationWarning: The pymssql project has been discontinued.  To install the last working released version, use a
    version specifier like "pymssql<3.0".  For details and alternat

[2019-12-19 09:36] vrajat commented on #36
More info: https://github.com/tokern/piicatcher/issues/29#issuecomment-567411832
Moore's law. I'll release a new version with the right version.

[2019-12-19 09:49] jayeshagwan1 commented on #36
For temporary fix I ran **pip install "pymssql<3.0"**. Now Files are running fine. For db not able to get data:

![image](https://user-images.githubusercontent.com/616970/71163366-f88fa100-2272-11ea-8bf4-d65cbd6961fd.png)

[2019-12-19 09:55] vrajat commented on #36
OK. By default it only lists columns that has PII. You can list all columns using `--list-all`.

Shallow checks names of columns only. It looks for column names like *name*, *email* etc using regular expressions from https://github.com/madisonmay/CommonRegex. Do you have columns with these names ?

Another option is to also check data using `-c deep`

[2019-12-19 10:00] jayeshagwan1 commented on #36
Yes I have such columns with names:

![image](https://user-images.githubusercontent.com/616970/71164088-5ec8f380-2274-11ea-93c6-be4490cf347e.png)

--list-all with -c deep

![image](https://user-images.githubusercontent.com/616970/71164151-77390e00-2274-11ea-977c-b4408efec2d3.png)

[2019-12-19 10:21] vrajat commented on #36
I recreated the table and it works for me:
![Screenshot from 2019-12-19 15-45-10](https://user-images.githubusercontent.com/1638298/71165316-a9e40600-2276-11ea-916e-2b38f4724324.png)

Can you check if piicatcher can read all the tables in the sqlite database ? list all should not have returned an empty list. That points that it cannot find any tables and columns.

What are the data types of these

[2019-12-19 10:38] jayeshagwan1 commented on #36
May be I am missing something
This is my sqlite

![image](https://user-images.githubusercontent.com/616970/71166937-bae24680-2279-11ea-92a8-6a4da7d79be5.png)

Anything you can see is not correct ?

[2019-12-19 10:42] vrajat commented on #36
Piicatcher should definitely detect these columns. I dont see anything wrong. Can you run this SQL query:

    SELECT
            "" as schema_name,
            m.name as table_name,
            p.name as column_name,
            p.type as data_type
        FROM
            sqlite_master AS m
        JOIN
            pragma_table_info(m.name) AS p
        ORDER BY
            m.name,
            p

[2019-12-19 11:04] jayeshagwan1 commented on #36
![image](https://user-images.githubusercontent.com/616970/71168732-5e812600-227d-11ea-9e6e-4b96284929c9.png)

Any issues ?

[2019-12-19 11:10] vrajat commented on #36
Yes. data_type is null or empty. That is unexpected. I get

    |test|address|varchar
    |test|city|varchar
    |test|company_name|varchar
    |test|county|varchar
    |test|email|varchar web
    |test|first_name|varchar
    |test|last_name|varchar
    |test|phone1|varchar
    |test|phone2|varchar
    |test|state|varchar
    |test|zip|varchar

What was your CREATE TABLE statement ? My guess is th

[2019-12-19 11:16] jayeshagwan1 commented on #36
I have script like this which has datatypes:

CREATE TABLE IF NOT EXISTS [userdata] (
[first_name] VARCHAR NULL,
[last_name] VARCHAR NULL,
[company_name] VARCHAR NULL,
[address] VARCHAR NULL,
[city] VARCHAR NULL,
[county] VARCHAR NULL,
[state] VARCHAR NULL,
[zip] INT NULL,
[phone1] VARCHAR NULL,
[phone2] VARCHAR NULL,
[email] VARCHAR NULL,
[web] VARCHAR NULL
);

[2019-12-19 11:20] vrajat commented on #36
I get the data type for that table.

    |userdata|address|VARCHAR
    |userdata|city|VARCHAR
    |userdata|company_name|VARCHAR
    |userdata|county|VARCHAR
    |userdata|email|VARCHAR
    |userdata|first_name|VARCHAR
    |userdata|last_name|VARCHAR
    |userdata|phone1|VARCHAR
    |userdata|phone2|VARCHAR
    |userdata|state|VARCHAR
    |userdata|web|VARCHAR
    |userdata|zip|INT

Which version

[2019-12-19 11:21] jayeshagwan1 commented on #36
V 3.30.1.0

[2019-12-19 11:22] vrajat commented on #36
OK. Then I am at a loss why data type is not returned for you.

[2019-12-19 11:24] jayeshagwan1 commented on #36
I altered script and removed null and now I am getting the desired result:

![image](https://user-images.githubusercontent.com/616970/71169907-10b9ed00-2280-11ea-8b1f-6df23cfe696e.png)

But piicatcher sqlite still not returning data

![image](https://user-images.githubusercontent.com/616970/71169976-3810ba00-2280-11ea-960f-00ddf788353c.png)

[2019-12-19 11:32] jayeshagwan1 commented on #36
My bad.... Now its working.. Thanks a lot...
![image](https://user-images.githubusercontent.com/616970/71170446-4c08eb80-2281-11ea-8d64-31b9a799be74.png)

[2019-12-19 11:34] vrajat commented on #36
Great!

On Thu, 19 Dec 2019 at 17:02, jayeshagwan1 <notifications@github.com> wrote:

[2019-12-19 12:20] jayeshagwan1 commented on #36
I have tested piicatcher on different file formats like json, plaintext, xml, csv but does not work with xlsx, xlx

[2019-12-19 13:10] vrajat commented on #36
It does not support binary formats like xlsx, xls and PDF yet. Can you file a new feature request ?

[2019-12-19 15:39] jayeshagwan1 commented on #36
Sure ...

[2019-12-20 05:44] jayeshagwan1 commented on #36
Getting error while having deep scan mysql db

![image](https://user-images.githubusercontent.com/616970/71232924-e61c7280-2319-11ea-9c77-4c07eccc43ac.png)

[2019-12-20 07:20] vrajat opened #41 "Getting error while having deep scan mysql db"
Getting error while having deep scan mysql db

![image](https://user-images.githubusercontent.com/616970/71232924-e61c7280-2319-11ea-9c77-4c07eccc43ac.png)

_Originally posted by @jayeshagwan1 in https://github.com/tokern/piicatcher/issues/36#issuecomment-567797329_

[2019-12-20 10:37] #41 closed

[2019-12-20 10:44] vrajat commented on #36
I've released a new version. Thanks for all the bug reports! Please open a new issue for future problems.

[2019-12-20 12:53] jayeshagwan1 commented on #41
Thanks @vrajat! Its working now!!!

[2020-01-01 05:15] #38 closed

[2020-01-06 07:01] jayeshagwan1 opened #44 "Recognize file formats like CSV and JSON and process them appropriately."
I have Password as column in csv file. When I run piicatcher its not detecting as PII and does not show pii in output

[2020-01-06 09:05] vrajat commented on #44
This is expected. Piicatcher recognizes passwords by checking column names. It does not yet recognize file formats like csv or json files. Specific processing for these file formats is a good feature. I've added a label and edited the title. Hopefully you dont mind.

[2020-01-13 05:29] jayeshagwan1 opened #45 "Can we add config file for db ?"
Can we add config file for database connections and other parameters, so that from cli we just need to pass type of database.

[2020-01-13 09:05] vrajat commented on #45
Yes. I have a partially implemented solution. I'll wrap it up and complete it.

[2020-01-14 06:32] #45 closed

[2020-01-14 06:37] vrajat commented on #45
This is available in 0.7.0. Also documented at https://tokern.io/docs/piicatcher/2-usage

Please provide feedback if docs are clear.

[2020-01-14 06:46] jayeshagwan1 commented on #45
Thanks. WIll try and raise ticket if required.

On Tue, Jan 14, 2020 at 12:07 PM Rajat Venkatesh <notifications@github.com>
wrote:

--
Thanks & Regards,
Jayesh Agwan
+91-8971319869

[2020-01-14 07:00] jayeshagwan1 commented on #45
We need either path for saving configurations of db's or params to set the
config file.

On Tue, Jan 14, 2020 at 12:07 PM Rajat Venkatesh <notifications@github.com>
wrote:

--
Thanks & Regards,
Jayesh Agwan
+91-8971319869

[2020-01-14 07:00] jayeshagwan1 opened #47 "Need path for saving configurations of db's"
We need path of config file to save the databases configurations or command to set the using cli

[2020-01-14 07:07] jayeshagwan1 commented on #47
Do we have any standard path for config files or its user specific ?

[2020-01-14 07:08] vrajat commented on #47
Can you elaborate? I didn’t understand. Sorry. Does —config work for you?

On Tue, 14 Jan 2020 at 12:30, jayeshagwan1 <notifications@github.com> wrote:

[2020-01-14 07:11] vrajat commented on #47
—config. Documented here https://tokern.io/docs/piicatcher/2-usage

On Tue, 14 Jan 2020 at 12:37, jayeshagwan1 <notifications@github.com> wrote:

[2020-01-14 08:29] jayeshagwan1 commented on #47
Below is the error:

![image](https://user-images.githubusercontent.com/616970/72326879-0dc2e880-36d6-11ea-985e-fc2d0fa0a08f.png)

This is my config file contents:
# Common option
log_level=INFO

[mysql]
orm-host="10.10.132.165"
orm-port="3306"
orm-user="Jayesh"
orm-password="Info@999"

[2020-01-14 08:33] vrajat commented on #47
Check
https://tokern.io/docs/piicatcher/3-databases

ORM is to output results to a database instead of a file or stdout.

For a database, the values has to be in section [db]

On Tue, 14 Jan 2020 at 13:59, jayeshagwan1 <notifications@github.com> wrote:

[2020-01-14 08:47] jayeshagwan1 commented on #47
can you provide sample of command?

[2020-01-14 08:49] vrajat commented on #47
https://github.com/tokern/piicatcher/blob/master/tests/test_config_file.py#L10

Check line 14-22 and line 29 for the command line arguments.

On Tue, 14 Jan 2020 at 14:17, jayeshagwan1 <notifications@github.com> wrote:

[2020-01-14 09:25] jayeshagwan1 commented on #47
db config I have updated and using this command : **piicatcher --config dbconfig.ini db**
Getting this:
![image](https://user-images.githubusercontent.com/616970/72331210-d0625900-36dd-11ea-8a76-e67d6c47be67.png)

[2020-01-14 09:30] vrajat commented on #47
can you run `piicatcher -l debug --config dbconfig.ini db` ?

Also can you paste the contents of `dbconfig.ini` ? Please remove any secrets from the log output and config file.

[2020-01-14 11:48] jayeshagwan1 commented on #47
[db]
host="10.10.1XX.XXX"
port="3306"
user="Jayesh"
password="IXXo@XXX"
database="Test"
connection-type="mysql"
output-format="json"
scan-type="deep"
output="/result.txt"
list-all=False

![image](https://user-images.githubusercontent.com/616970/72342131-e37f2400-36f1-11ea-9583-168b181d003d.png)

[2020-01-14 12:08] vrajat commented on #47
You definitely have an old version of piicatcher. The help message looks
like an old one. Can you run ‘piicatcher —version’ ?

For the latest help message and how it looks check the docs link.

On Tue, 14 Jan 2020 at 17:18, jayeshagwan1 <notifications@github.com> wrote:

[2020-01-14 12:12] jayeshagwan1 commented on #47
![image](https://user-images.githubusercontent.com/616970/72343574-373f3c80-36f5-11ea-9889-d58d38274b31.png)

Now getting this error:
![image](https://user-images.githubusercontent.com/616970/72343473-f3e4ce00-36f4-11ea-834a-6f0c3ee28fe3.png)

[2020-01-14 13:35] #47 closed

[2020-01-15 03:32] jayeshagwan1 commented on #47
Thanks a lot @vrajat . WOrking now after installing latest version.

![image](https://user-images.githubusercontent.com/616970/72402610-af4d4700-3775-11ea-8f38-1dc50b38aeb9.png)

Cheers !!

[2020-01-15 03:50] jayeshagwan1 opened #49 "One config file for multiple databases/file systems"
Can we use one config file for multiple databases/file systems so that the command will be same always for any type of supported system ?

[2020-01-15 04:55] vrajat commented on #49
Do you mean something like:

    [db1]
    ....

    [db2]
    ....

And choose one through the command line like ?

    piicatcher --config cfg.ini db --name db1

I am depending on https://pypi.org/project/click-config-file/ for config file to save effort and right now it doesn't support it.

[2020-01-20 08:27] jayeshagwan1 commented on #49
After migrating to config file, deep search is not working. I have 2 tables in db, but result is showing only 1st table.
![image](https://user-images.githubusercontent.com/616970/72710150-70136180-3b8c-11ea-933a-8c206459641e.png)

![image](https://user-images.githubusercontent.com/616970/72710212-96d19800-3b8c-11ea-8a70-9cf0c6a2ffe1.png)

config file :
[db]
host="10.10.XXX.XXX"
port="3306"
user="X

[2020-01-20 12:03] vrajat commented on #49
Checking. Just to confirm, the second table is listed of command line
arguments are used ? —scan-type?

Or deep scan has completely stopped working?

On Mon, 20 Jan 2020 at 13:57, jayeshagwan1 <notifications@github.com> wrote:

[2020-01-20 15:09] jayeshagwan1 commented on #49
Ohh. Even after passing --scan-type in config file, we need to explicitely pass **--scan-type deep** in cli. Then only it works:

![image](https://user-images.githubusercontent.com/616970/72737119-f2b81300-3bc4-11ea-88a4-231fff2f2622.png)

[2020-01-20 15:32] vrajat commented on #49
OK. So only the config file part is broken. I’ll fix it.

On Mon, 20 Jan 2020 at 20:39, jayeshagwan1 <notifications@github.com> wrote:

[2020-01-21 03:57] vrajat opened #50 "After migrating to config file, deep search is not working. I have 2 tables in db, but result is showing only 1st table."
After migrating to config file, deep search is not working. I have 2 tables in db, but result is showing only 1st table.
![image](https://user-images.githubusercontent.com/616970/72710150-70136180-3b8c-11ea-933a-8c206459641e.png)

![image](https://user-images.githubusercontent.com/616970/72710212-96d19800-3b8c-11ea-8a70-9cf0c6a2ffe1.png)

config file :
[db]
host="10.10.XXX.XXX"
port="3306"
user="X

[2020-01-21 04:03] vrajat commented on #49
I made a mistake in documentation. It should `scan_type` and not `scan-type`. Can you give it a try with `scan_type` ? Fixing the docs

[2020-01-21 05:08] jayeshagwan1 commented on #49
Its working fine now. Just one thing. It takes around 6-10 min to return the result

[2020-01-21 05:11] jayeshagwan1 opened #51 "List PII that was matched in JSON format."
Currently we are getting output as :
![image](https://user-images.githubusercontent.com/616970/72777038-4add2c80-3c3a-11ea-9962-01276551aabb.png)

Can we add one more column say **matching_pii** and we can show which PII info its matching like PERSON,EMAIL etc ?

[2020-01-21 06:14] jayeshagwan1 opened #52 "Table format not displaying output properly for file system"
Getting below result when running piicatcher on file system:
![image](https://user-images.githubusercontent.com/616970/72779816-29cd0980-3c43-11ea-844f-86e75723cd4f.png)

Also when trying to save ascii_table format into text file it throws error:
![image](https://user-images.githubusercontent.com/616970/72779913-5d0f9880-3c43-11ea-9123-1a7eb5145c14.png)

[2020-01-21 06:27] vrajat commented on #50
Documentation bug. Underscores were replaced with hyphen.

[2020-01-21 06:27] #50 closed

[2020-01-21 06:31] vrajat commented on #52
Now I remember why I had `has_pii` instead of `pii` column for databases. Piicatcher uses a library called tableprint to print the ascii table and it has its limitations. You've hit both of them.
1. It is hard to format long columns
2. It expects a terminal to print a table. It cant be redirected to a file.

I am not sure there is an easy fix for either of them. I suggest you use JSON to store to

[2020-01-21 06:40] jayeshagwan1 commented on #52
Thanks. So can we save this data directly in db?

[2020-01-21 06:43] vrajat commented on #52
Yes: https://tokern.io/docs/piicatcher/2-usage

You can use --orm-host and other options.

FYI: I am going to change those option names to "catalog-*". For example,
catalog-host etc. Right now, MySQL is supported

On Tue, Jan 21, 2020 at 12:10 PM jayeshagwan1 <notifications@github.com>
wrote:

[2020-01-21 08:33] jayeshagwan1 commented on #52
Thanks !

[2020-01-21 09:50] #51 closed

[2020-01-22 04:39] jayeshagwan1 commented on #52
Can you provide the exact command for this ? So I have 2 config files 1 for connecting db and read the db and other for inserting into db.

[2020-01-22 06:27] vrajat commented on #52
Single config file

     catalog_host=".."
     catalog_port="..."
     catalog_user="..."
     catalog_password="..."

    [db]
    ...

Also can you give me feedback on the docs ?

https://tokern.io/docs/piicatcher/2-usage#configuration-file
https://tokern.io/docs/piicatcher/3-catalog#database

[2020-01-22 09:00] jayeshagwan1 commented on #52
Docs look good. Thanks. If we can add sample of command for each type, it would help.

[2020-01-22 09:14] vrajat commented on #52
OK

On Wed, Jan 22, 2020 at 2:30 PM jayeshagwan1 <notifications@github.com>
wrote:

[2020-01-22 09:36] jayeshagwan1 commented on #52
Can we add one more column for Pii type ?

![image](https://user-images.githubusercontent.com/616970/72882400-90782300-3d28-11ea-94b5-a159a9cd9931.png)

In the above screenshot, **ACQUISITION_DATE** if of which type of PII.

[2020-01-22 09:37] vrajat commented on #52
Its available in JSON format. Can you use that ? The problem is that
ascii_table format is already broken.

On Wed, Jan 22, 2020 at 3:06 PM jayeshagwan1 <notifications@github.com>
wrote:

[2020-01-22 09:39] jayeshagwan1 commented on #52
Aaah. Ok

[2020-01-22 10:18] jayeshagwan1 commented on #52
@vrajat Can we keep output consistent for all ? In db, json file shows
![image](https://user-images.githubusercontent.com/616970/72885624-4abe5900-3d2e-11ea-8aa7-57e04be1fe9e.png)

If we try file type then response is:
![image](https://user-images.githubusercontent.com/616970/72885686-67f32780-3d2e-11ea-85d5-65738d40debc.png)

So in file type we are not able to identify which column has PII data a

[2020-01-22 10:22] vrajat commented on #52
Files are not treated as rows and columns but as a blob of text. I see that
you are scanning a CSV file. CSV support has to be added through #44 to
give special treatment for CSV files.

On Wed, Jan 22, 2020 at 3:48 PM jayeshagwan1 <notifications@github.com>
wrote:

[2020-01-27 13:31] jayeshagwan1 opened #54 "Hive JDBC support"
Does piicatcher support Hive ?

[2020-01-27 14:00] vrajat commented on #54
Not yet. It can be added using pyhive: https://github.com/dropbox/PyHive

Are you open to contributing the integration? I can guide you through it.

On Mon, 27 Jan 2020 at 19:01, jayeshagwan1 <notifications@github.com> wrote:

[2020-01-28 03:33] jayeshagwan1 commented on #54
I am interested in contributing.

[2020-01-28 07:35] vrajat commented on #54
Thanks!
Here are some guidelines on how to get started:

### Install a developer version of piicatcher

1. Fork the repo.
2. Instructions are here: https://tokern.io/docs/piicatcher/development

### Hive installation

I am not sure about your tech setup. A web search should provide a lot of websites with instrutions to setup Hive.

### Load data into Hive

I use a couple of simple datasets:
1. htt

[2020-01-28 08:03] jayeshagwan1 opened #55 "AWS config issue"
I have created AWS config file as mentioned in docs and trying command **piicatcher --config awsconfig.ini aws** similar to db one.

**piicatcher --config dbconfig.ini db**  works fine.

Getting below error:

![image](https://user-images.githubusercontent.com/616970/73245588-95c6e900-41d2-11ea-91f9-6658d1395deb.png)

Below is my config file :

[aws]
access_key="XXXXXX"
secret_key="XXXXX"
staging_d

[2020-01-28 08:04] jayeshagwan1 commented on #54
Thanks @vrajat. Will follow the above steps. If any issue, will let you know.

[2020-01-28 08:48] vrajat commented on #55
I cannot see what is wrong with you ini file. It looks fine to me. However, the following worked for me:

    [aws]
    access_key="AAAA"
    list_all=True
    output_format="json"
    region="us-east"
    scan_type="deep"
    secret_key="SSSS"
    staging_dir="s3://dir"

I dont see a valid difference. Can you make sure you have the latest version ?

[2020-01-28 09:21] jayeshagwan1 commented on #55
Sorry my bad. Mistake from my side. Was having -(hyphen) instead of _(underscore) in params.

[2020-01-28 09:23] #55 closed

[2020-01-28 14:51] jayeshagwan1 commented on #54
Above steps were followed. After running the command **piicatcher --config hiveconfig.ini hive**
getting below error :
![image](https://user-images.githubusercontent.com/616970/73274446-93cd4c00-420b-11ea-9c96-fd076896ecfe.png)

It seems its issue on windows system while installing pyhive.

[2020-01-28 14:57] vrajat commented on #54
Try adding sasl to requirements.txt

On Tue, 28 Jan 2020 at 20:21, jayeshagwan1 <notifications@github.com> wrote:

[2020-01-29 04:28] jayeshagwan1 commented on #54
![image](https://user-images.githubusercontent.com/616970/73327919-c6179180-427d-11ea-8ead-966d2ee92113.png)

[2020-01-29 04:32] vrajat commented on #54
Does this help ? https://stackoverflow.com/a/58167572

On Wed, Jan 29, 2020 at 9:58 AM jayeshagwan1 <notifications@github.com>
wrote:

[2020-01-29 06:14] jayeshagwan1 commented on #54
Thanks. Now facing :

![image](https://user-images.githubusercontent.com/616970/73332399-a20f7c80-428c-11ea-9689-87ed8e08abbd.png)

[2020-01-29 06:14] jayeshagwan1 commented on #54
https://github.com/dropbox/PyHive/issues/69

[2020-01-29 06:18] jayeshagwan1 commented on #54
https://community.cloudera.com/t5/Support-Questions/pyhive-connection-error-thrift-transport-TTransport/td-p/206372

[2020-01-29 06:20] vrajat commented on #54
Which version of Hive have you installed ? Are you using HiveServer2 ?

On Wed, Jan 29, 2020 at 11:48 AM jayeshagwan1 <notifications@github.com>
wrote:

[2020-01-29 06:35] jayeshagwan1 commented on #54
Hive2

[2020-01-29 06:36] vrajat commented on #54
Do you use HiveServer2 ?

On Wed, Jan 29, 2020 at 12:05 PM jayeshagwan1 <notifications@github.com>
wrote:

[2020-01-29 07:04] jayeshagwan1 commented on #54
yes

[2020-01-29 09:18] jayeshagwan1 commented on #55
Getting error while trying to connect :

![image](https://user-images.githubusercontent.com/616970/73343282-5669cc80-42a6-11ea-9f14-6ddd5b32c966.png)

[2020-01-29 09:21] vrajat commented on #55
This looks like a permissions issue in AWS.

On Wed, Jan 29, 2020 at 2:48 PM jayeshagwan1 <notifications@github.com>
wrote:

[2020-01-29 09:33] jayeshagwan1 commented on #55
Apart from above parms, do we need to add any specific params for permission or access ?

[2020-01-29 09:55] vrajat commented on #55
No no. The keys dont have access to S3 bucket. So you have to fix the
permissions in AWS IAM console. One way to check is to run
https://github.com/tokern/piicatcher/blob/master/piicatcher/explorer/aws.py#L44
in
Athena.

Also run
https://github.com/tokern/piicatcher/blob/master/piicatcher/explorer/aws.py#L53
for
every table. My guess is that the keys you are using dont have access to
one of the ta

[2020-01-29 10:32] jayeshagwan1 commented on #55
L44 query results

  | table_schema | table_name | column_name
-- | -- | -- | --
  | table_schema | table_name | column_name
1 | sampledb | elb_logs | request_timestamp
2 | sampledb | elb_logs | elb_name
3 | sampledb | elb_logs | request_ip
4 | sampledb | elb_logs | backend_ip
5 | sampledb | elb_logs | elb_response_code
6 | sampledb | elb_logs | backend_response_code
7 | sampledb | elb_logs | requ

[2020-01-29 13:25] vrajat commented on #55
What about the other query ? Can you run it on each of the tables ?

On Wed, Jan 29, 2020 at 4:02 PM jayeshagwan1 <notifications@github.com>
wrote:

[2020-01-29 13:30] vrajat commented on #54
Can you try connecting using pyhive in a python console ? Let's make sure
pyhive is working. For example,

conn = hive.Connection(host=host_name, port=port, username=user,
password=password,
                           database=database)

    cur = conn.cursor()

    cur.execute('select item_sk,reason_sk, account_credit from returns
limit 5')

    result = cur.fetchall()

    return result

On Wed,

[2020-02-04 04:29] jayeshagwan1 commented on #54
Now able to connect to hiveserver2. But getting below error:

raise ValueError("Password should be set if and only if in LDAP or CUSTOM mode; "                      ValueError: Password should be set if and only if in LDAP or CUSTOM mode; Remove password or use one of th ose modes
--

Currently I am passing auth='NOSASL' in connection. If I pass auth='Custom or none' then getting this error:

![im

[2020-02-04 04:55] vrajat commented on #54
Can you confirm if these are errors when you try to connect to hive through python console ? No PIICatcher involved ?

Can you confirm if you can connect to Hive and run queries from python console ?

[2020-02-04 05:21] jayeshagwan1 commented on #54
Sure. Will confirm. I think there similar open issues with pyhive also. Do we have other option for pyhive ?

[2020-02-04 05:32] vrajat commented on #54
1. https://github.com/cloudera/impyla
2. https://dwgeek.com/steps-to-connect-hiveserver2-from-python-using-hive-jdbc-drivers.html/

1. is probably the better option

[2020-02-04 06:13] jayeshagwan1 commented on #54
There is some issue with pyhive. I have tried with python, but still getting same error.

![image](https://user-images.githubusercontent.com/616970/73718790-78020280-4743-11ea-83dc-f2e17aba730b.png)

[2020-02-04 06:14] jayeshagwan1 commented on #54
Is it specific to OS ? Haven't tried with linux or ubuntu yet.

[2020-02-04 06:46] vrajat commented on #54
I am not sure. I've used in Centos and it worked. That was for a specific configuration of hive. OS or the configuration of python/hive can be the problem. Dont know how to help remotely with no knowledge about the setup.

[2020-02-04 06:46] vrajat commented on #54
Can you try impyla ?

[2020-02-05 06:40] jayeshagwan1 commented on #54
Is this uses impala ?

[2020-02-05 06:41] jayeshagwan1 commented on #54
I am trying on centOS, but getting this error:

 [Errno 14] problem making ssl connection
Trying other mirror.
Error: Cannot retrieve repository metadata (repomd.xml) for repository: bintray--sbt-rpm. Please verify its path and try again

So could not install anything. Tried couple of things for ssl but its not working

[2020-02-05 07:03] vrajat commented on #54
Impyla is supposed to work with hiveserver2 as well.

That seems like a rpm issue and not a pyhive issue ?

On Wed, 5 Feb 2020 at 12:11, jayeshagwan1 <notifications@github.com> wrote:

[2020-02-05 07:22] jayeshagwan1 commented on #55
Athena is working for shallow type scan. For deep scan it throws below error:
HIVE_UNKNOWN_ERROR: All access to this object has been disabled (Service: Amazon S3; Status Code: 403; Error Code: AllAccessDisabled; Request ID:

Is there any parameter in config where we can pass specific DB to scan ?

[2020-02-05 07:59] vrajat opened #56 "Support Include/Exclude Lists"
Athena is working for shallow type scan. For deep scan it throws below error:
HIVE_UNKNOWN_ERROR: All access to this object has been disabled (Service: Amazon S3; Status Code: 403; Error Code: AllAccessDisabled; Request ID:

Is there any parameter in config where we can pass specific DB to scan ?

_Originally posted by @jayeshagwan1 in https://github.com/tokern/piicatcher/issues/55#issuecomment-58

[2020-02-05 08:01] vrajat commented on #55
I've filed #56. I'll check the best way to support filters and add it.

[2020-02-05 08:08] vrajat commented on #54
ftw superset uses pyhive. https://github.com/apache/incubator-superset/blob/master/superset/db_engine_specs/hive.py#L71

There are also hive related issues but in general it works. I still think there is something about your installation that pyhive does not work with.

[2020-02-10 08:11] jayeshagwan1 commented on #56
Thanks. Parameter in config will work na ?

[2020-02-10 08:50] jayeshagwan1 commented on #56
I tried providing schema and table name to check if it works. I am getting error :

raise OperationalError(query_execution.state_change_reason)                  pyathena.error.OperationalError: SYNTAX_ERROR: line 1:8: Column 'request_timestamp' cannot be resolved
--

I don't   **request_timestamp** column.

[2020-02-10 08:56] vrajat commented on #56
I just merged it to master. Can you downloading the code and run `python setup.py develop` in virtualenv ?

`--help` should provide enough docs. Config files are also supported

[2020-02-10 09:20] jayeshagwan1 commented on #56
After python setup.py develop, tried running help, but not getting updated help:

![image](https://user-images.githubusercontent.com/616970/74136790-ba7c8100-4c14-11ea-929b-8506083de4b1.png)

[2020-02-10 09:22] vrajat commented on #56
oh - can you try `piicatcher db --help` ? I have forgotten to support it in aws. I'll add it asap

[2020-02-10 09:26] jayeshagwan1 commented on #56
My config, I added
list_all=True
schema="temp"
table="pii_data"

Tried running with config:

![image](https://user-images.githubusercontent.com/616970/74137265-7ccc2800-4c15-11ea-9a8f-5e48ffa46175.png)

![image](https://user-images.githubusercontent.com/616970/74137111-41c9f480-4c15-11ea-97bb-9abc625529d4.png)

[2020-02-10 09:29] vrajat commented on #56
Yea- I forgot to add it to aws. Fixing that now.

[2020-02-10 09:29] jayeshagwan1 commented on #56
For db its working fine 👍
![image](https://user-images.githubusercontent.com/616970/74137443-d5032a00-4c15-11ea-8b6c-7ec1ff012b6a.png)

Also is the above mentioned params for config are correct ?

[2020-02-10 09:29] vrajat commented on #56
yes. config looks good.

[2020-02-10 09:50] jayeshagwan1 commented on #56
Getting below error:
current_schema.tables.append(current_table) AttributeError: 'Schema' object has no attribute 'tables'
--

[2020-02-10 09:51] vrajat commented on #56
is there a line number ? Stack trace ?

[2020-02-10 09:54] jayeshagwan1 commented on #56
![image](https://user-images.githubusercontent.com/616970/74139444-5f00c200-4c19-11ea-9df9-4abbb6d8c05c.png)

[2020-02-10 09:56] vrajat commented on #56
I found a gap in my testing. I'll add a test and fix the bug.

[2020-02-10 10:02] #56 closed

[2020-02-10 10:03] vrajat opened #59 "Exception thrown when iterating through multiple schema"
![image](https://user-images.githubusercontent.com/616970/74139444-5f00c200-4c19-11ea-9df9-4abbb6d8c05c.png)

_Originally posted by @jayeshagwan1 in https://github.com/tokern/piicatcher/issues/56#issuecomment-584041340_

[2020-02-10 10:38] #59 closed

[2020-02-10 11:02] jayeshagwan1 commented on #59
🙄

![image](https://user-images.githubusercontent.com/616970/74144486-d2f39800-4c22-11ea-9f81-c40c452ac62d.png)

[2020-02-10 11:19] vrajat commented on #59
This is most probably a permission issue in AWS S3.

[2020-02-10 11:21] vrajat commented on #59
Hopefully this is helpful: https://forums.aws.amazon.com/thread.jspa?messageID=756481

[2020-02-10 11:23] vrajat commented on #59
https://github.com/tokern/piicatcher/issues/55#issuecomment-579679325

You should test both queries in an athena console and fix any issues.

[2020-02-10 12:06] jayeshagwan1 commented on #59
Will test @vrajat . Will update on the same. This is available in latest version?

[2020-02-10 12:25] vrajat commented on #59
I am working on a couple of more changes. Hopefully will release tomorrow.

[2020-02-11 10:08] jayeshagwan1 commented on #59
I have one doubt here. If there is permission issue, then shallow scan should also face access denied. But this is happening only when scan type is **deep** even after giving schema and table parameters. SO then it should not scan whole db, and would take input as the desired schema and table ?

[2020-02-11 10:17] vrajat commented on #59
I am not 100% sure about Athena but I am very familiar with Hive and Presto. Information schema will query the glue catalog only. It won't try to read data from S3. So it is not surprising that shallow works when there are permission issues.

As you mentioned if you specified the schema and table, then only the files for that table are read. So if you have permission issues with another table, the

[2020-02-11 10:43] jayeshagwan1 commented on #59
Will check once running https://github.com/tokern/piicatcher/blob/master/piicatcher/explorer/aws.py#L72
In the mean while I would like to understand more regarding deep scan from code perspective.
Is this the correct one ?: https://github.com/tokern/piicatcher/blob/master/piicatcher/explorer/explorer.py#L76

[2020-02-11 11:17] vrajat commented on #59
https://github.com/tokern/piicatcher/blob/master/piicatcher/explorer/explorer.py#L84

On Tue, 11 Feb 2020 at 16:13, jayeshagwan1 <notifications@github.com> wrote:

[2020-02-12 10:38] jayeshagwan1 commented on #59
Need help for debugging. Can you provide steps ?

[2020-02-12 11:21] vrajat commented on #59
Did you run the query in line 84 in Athena console ?

On Wed, 12 Feb 2020 at 16:08, jayeshagwan1 <notifications@github.com> wrote:

[2020-02-12 11:41] jayeshagwan1 commented on #59
"select {column_list} from {schema_name}.{table_name} TABLESAMPLE BERNOULLI(5) limit 10" This one ?

[2020-02-12 11:43] vrajat commented on #59
Yes. You have to replace the variables in that string. {schema_name} etc

On Wed, 12 Feb 2020 at 17:11, jayeshagwan1 <notifications@github.com> wrote:

[2020-02-12 12:47] jayeshagwan1 commented on #59
Yes its returning data. I guess column_list is list of all columns ? Can we have **select * ** query for deep scan since we are passing table and schema ?

[2020-02-12 12:57] jayeshagwan1 commented on #59
I tried select * and even deep scan is also now returning data. I am not sure as I dont know the flow, but would like to understand it.

[2020-02-12 13:14] vrajat commented on #59
Did you edit the code to change it to `select * ...` ?

Interesting. Can you turn on debug logging to check the queries that are run ?

`piicatcher -l DEBUG` ?

[2020-02-12 13:36] jayeshagwan1 commented on #59
Yes. Sure will check with logging

[2020-02-12 13:38] jayeshagwan1 commented on #59
Even after passing schema and table its still returning all tables.

[2020-02-12 13:54] vrajat commented on #59
I am confused. Is the permission problem resolved with deep scan ? Without any code changes ?

[2020-02-12 14:00] jayeshagwan1 commented on #59
I am also still not convinced about the permission issue. As you mentioned to try the queries in query editor, both the queries are working. column_list is  what we found was making issue. When I tried running select * instead of {column_list}, results were fetched will multiple tables. Looping through column_list might be having issue. Not sure though.

[2020-02-12 14:01] vrajat commented on #59
you should also replace `{column_list}` with some  `char` or `varchar` columns

[2020-02-12 14:10] jayeshagwan1 commented on #59
Yeah that I tried. It works. I tried running logs- AM I missing some thing:
DEBUG:root:{'access_key': 'AXXXXXXXXXN', 'secret_key': 'XXXXXXXXXX', 'staging_dir': 'XXXXXXXXXXX', 'region': 'XXXXXXXXX', 'scan_type': 'deep', 'list_all': False, 'include_schema': ('t', 'e', 'm', 'p'), 'exclude_schema': (), 'include_table': ('p', 'i', 'i', '_', 'd', 'a', 't', 'a'), 'exclude_table': (), 'catalog': {'host':

[2020-02-12 15:52] vrajat commented on #59
There should be more logs with the actual queries that are run on Athena

On Wed, 12 Feb 2020 at 19:40, jayeshagwan1 <notifications@github.com> wrote:

[2020-02-13 03:40] jayeshagwan1 commented on #59
Yeah.. here its is...
[debug_log.txt](https://github.com/tokern/piicatcher/files/4196388/debug_log.txt)

[2020-02-13 04:16] vrajat opened #63 "Deep Scan in Athena failing with HIVE_UNKNOWN_ERROR"
Yeah.. here its is...
[debug_log.txt](https://github.com/tokern/piicatcher/files/4196388/debug_log.txt)

_Originally posted by @jayeshagwan1 in https://github.com/tokern/piicatcher/issues/59#issuecomment-585534804_

[2020-02-13 04:18] vrajat commented on #63
@jayeshagwan1 can you run `select count(*) from temp.pii_data` in Athena console ?

Also the debug log seems to be truncated. Can you make sure that it contains all of the output ?

[2020-02-13 05:16] jayeshagwan1 commented on #63
I am having complete log, I have just scrapped and provided you a a certain portion. Will provide the complete log file in some time.

[2020-02-13 05:20] vrajat commented on #63
I want to check these types of lines:

    DEBUG:root:Count Query: select count(*) from temp.pii_data
    DEBUG:pyathena.common:select count(*) from temp.pii_data

[2020-02-13 05:27] jayeshagwan1 commented on #63
Not sure, but will this work ?
content-type;host;x-amz-date;x-amz-target
b06733bd35e2829482251739509d84a087c28becbebfe05d25c8cff2a696aa85
DEBUG:botocore.auth:StringToSign:
AWS4-HMAC-SHA256
20200212T134450Z
20200212/us-east-2/athena/aws4_request
998042b672348ed2bc07d1c5a54b96bf646cba76b98e6a6fdece665f9a84f99d
DEBUG:botocore.auth:Signature:
fc1e18a63921c402048de557688f0b464776dc41662d6d21f49ab60bd30

[2020-02-13 05:31] vrajat commented on #63
I still see only `select count(*) from temp.pii_data` in the logs. I dont see any exceptions or errors. I want to know the last query that was run before the exception or error happened

[2020-02-13 05:51] jayeshagwan1 commented on #63
Sorry. Here is the log file if I dont hard code schema and table and just do select *
[error_Log.txt](https://github.com/tokern/piicatcher/files/4196675/error_Log.txt)

[2020-02-13 06:04] jayeshagwan1 commented on #63
Even after passing schema and table from config, its still looking into all tables. It should fetch only mentioned schema and table.

[2020-02-13 06:09] vrajat commented on #63
Can you test this query in athena console ? `select * from sampledb.elb_logs TABLESAMPLE BERNOULLI(5) limit 10` ?

`sampledb.elb_logs` is created automatically and I think this is not setup properly or your account doesnt have access.

can you try `piicatcher ... --exclude-schema sampledb`?

I'll look into "Even after passing schema and table from config, its still looking into all tables. It shou

[2020-02-13 06:51] jayeshagwan1 commented on #63
Traceback (most recent call last):                                                                                                                                                   File "F:\PII\pii_athena\piicatcher\.env\Scripts\piicatcher-script.py", line 11, in                                                                                           load_entry_point('piicatcher', 'console_script

[2020-02-13 09:34] vrajat opened #64 "Fix exception in logging"
TypeError: not all arguments converted during string formatting
Call stack:
  File "F:\PII\pii_athena\piicatcher\.env\Scripts\piicatcher-script.py", line 11, in <module>
    load_entry_point('piicatcher', 'console_scripts', 'piicatcher')()
  File "F:\PII\pii_athena\piicatcher\.env\lib\site-packages\click-7.0-py3.7.egg\click\core.py", line 764, in __call__
    return self.main(*args, **kwargs)
  Fi

[2020-02-13 10:06] vrajat opened #65 "schema and table from config is not filtering tables in scan."
Even after passing schema and table from config, its still looking into all tables. It should fetch only mentioned schema and table.

_Originally posted by @jayeshagwan1 in https://github.com/tokern/piicatcher/issues/63#issuecomment-585566712_

[2020-02-13 10:48] vrajat commented on #65
I think I have found the problem. Can you write the config file as follows for schema and table?

    [aws]
    ....
    schema=('taxidata',)
    table=('csv_trip_data',)

The problem is that python is considering 'taxidata' as a list of ['t', 'a', 'x', 'i', ...] So if the name has any of these characters, then it is selected. This is not intuitive but is a language feature. I dont know how I can

[2020-02-13 10:56] #64 closed

[2020-02-13 11:07] vrajat commented on #63
I just released a new version. Mostly with debug logging improvements. I do not know if it will fix all your issues. Please give it a try without any edits. Also please provide any debug logs for any issues.

On filtering tables, check my comment in #65 on the right syntax.

[2020-02-13 11:25] jayeshagwan1 commented on #65
Now Its showing data for required table and for rest it is showing empty.
@vrajat Thanks a lot !!!
Some minor observations are there. For some columns its showing wrong PII type.

[shallow_scan.txt](https://github.com/tokern/piicatcher/files/4197991/shallow_scan.txt)
[deep_scan.txt](https://github.com/tokern/piicatcher/files/4197992/deep_scan.txt)

[2020-02-13 12:53] jayeshagwan1 commented on #63
In new version its working fine.
Some of columns are not getting identified as required PII data type.

[2020-02-13 13:52] vrajat commented on #63
Can you provide examples in a new issue?

On Thu, 13 Feb 2020 at 18:23, jayeshagwan1 <notifications@github.com> wrote:

[2020-02-13 14:05] jayeshagwan1 commented on #63
Will this work ? Deep scan and shallow scan results are different.
[deepscan.txt](https://github.com/tokern/piicatcher/files/4198733/deepscan.txt)
[shallowscan.txt](https://github.com/tokern/piicatcher/files/4198736/shallowscan.txt)

[2020-02-14 03:08] #65 closed

[2020-02-14 03:11] vrajat opened #67 "Deep scan and shallow scan results are different."
Will this work ? Deep scan and shallow scan results are different.
[deepscan.txt](https://github.com/tokern/piicatcher/files/4198733/deepscan.txt)
[shallowscan.txt](https://github.com/tokern/piicatcher/files/4198736/shallowscan.txt)

_Originally posted by @jayeshagwan1 in https://github.com/tokern/piicatcher/issues/63#issuecomment-585770157_

[2020-02-14 03:11] #63 closed

[2020-02-14 03:18] vrajat commented on #67
It is not surprising that deep and shallow scan show different results. Shallow scan only looks at column names. Deep scan looks at a sample of the data. I've even noticed that two different runs of deep scan show different results as sample rows are different. This is the challenge with not scanning all of the data. Its a trade-off between performance/cost and accuracy. There is no right answer.

[2020-02-14 03:22] vrajat opened #68 "Shallow scan should recognize phone, credit card, person and location from column names"
It is not surprising that deep and shallow scan show different results. Shallow scan only looks at column names. Deep scan looks at a sample of the data. I've even noticed that two different runs of deep scan show different results as sample rows are different. This is the challenge with not scanning all of the data. Its a trade-off between performance/cost and accuracy. There is no right answer.

[2020-02-14 03:22] vrajat opened #69 "Deep scan should also scan column names for candidates"
It is not surprising that deep and shallow scan show different results. Shallow scan only looks at column names. Deep scan looks at a sample of the data. I've even noticed that two different runs of deep scan show different results as sample rows are different. This is the challenge with not scanning all of the data. Its a trade-off between performance/cost and accuracy. There is no right answer.

[2020-02-14 06:32] jayeshagwan1 opened #70 "Result is not getting stored in provided filepath while scaning file system"
I have below configuration for file sytem":

[files]
path="files/testdata.csv"
output="results/output.json"
output_format="json"

I am able to see the result on screen but its not saving on output path

[2020-02-14 08:45] jayeshagwan1 commented on #54
I will start working on Hive from next week and keep you posted.

[2020-02-17 09:28] #70 closed

[2020-02-17 18:41] plasx opened #72 "`pip install piicatcher` fails on Python 3.8 "pymssql install fails""
piicatcher is failing to install on python 3.8.1. (also fails on 3.7). Fails when reaching pymssql package installation. In an attempt to get around it, I tried to install earlier versions of pymssql as listed below:
[code]
But all led to the same error:
[code]

[2020-02-17 18:42] plasx commented on #72
May relate to https://github.com/tokern/piicatcher/issues/29

[2020-02-18 04:27] vrajat commented on #72
I am trying to reproduce this error. In the meantime, to get unblocked can you run `pip install Cython` and then check?

[2020-02-18 05:00] vrajat commented on #72
I was able to reproduce the issue. The difference is that, on my machine python wheels are used while on your machine the package is built from source code:

    TMPDIR=/tmp/piptmp/ pip install --no-binary :all: --no-cache-dir --build=/tmp/piptmp/build  piicatcher
    Collecting piicatcher
      Downloading
    https://files.pythonhosted.org/packages/....507bc12/piicatcher-0.8.1.tar.gz
        ...

[2020-02-18 09:17] #29 closed

[2020-02-18 09:33] #72 closed

[2020-03-02 11:47] jayeshagwan1 opened #76 "Getting error while scanning file system"
With latest piicatcher version, getting below error:
 piicatcher --config fileconfig.ini files

![image](https://user-images.githubusercontent.com/616970/75673706-922ef200-5ca9-11ea-8131-3d12e0cd3a49.png)

[files]
path="testdata.csv"
catalog_file="output.json"
output_format="json"

[2020-03-03 04:13] #76 closed

[2020-03-03 05:09] jayeshagwan1 commented on #76
Its fixed Now. Thanks

[2020-03-20 11:44] food-spotter opened #78 "Documentation links do not work"
The links to the documentation in the README do not work. They end up displaying a page with the following message:
[code]

[2020-03-20 12:37] vrajat commented on #78
Fixed now. I had pushed a bad version of the website. Thanks for reporting the broken link. Please give feedback if PIICatcher is useful to you.

[2020-03-20 12:37] #78 closed

[2020-03-20 15:46] food-spotter opened #79 "include schema filter is not working on redshift"
I'm finding that piicatcher fails to apply include schema argument. This has been tried using the `-n`, `--schema` via cli as well as `schema` via config file.

I have the following database structure in redshift:
[code]
My config file looks like this:
[code]

However the returned output shows that piicatcher scanned through both schemas.

[2020-03-20 16:29] vrajat commented on #79
The config looks correct to me. This should work. I’ll test it again on my setup.

[2020-03-23 05:46] vrajat commented on #79
I am able to reproduce the bug. I'll release a fix soon.

[2020-03-23 06:01] #79 closed

[2020-03-25 06:10] vrajat commented on #79
@food-spotter Did the fix work for you ? Were you able to use piicatcher successfully ? Please tell me if piicatcher worked for your use case.

[2020-03-25 09:24] food-spotter commented on #79
Thanks, it is now working as expected 👍 🎉

[2020-04-01 08:31] jayeshagwan1 opened #83 "Getting error while running piicatcher through file or DB having more records"
I am trying to run piicatcher on csv file with 15K records and getting below error:

File "f:\pii\piicrawler\.env\lib\site-packages\spacy\language.py", line 429, in __call__                                    Errors.E088.format(length=len(text), max_length=self.max_length)                                                           ValueError: [E088] Text of length 2924092 exceeds maximum of 1000000

[2020-04-02 04:20] vrajat commented on #83
Looks like these are default limits set by [spacy](https://spacy.io). Refer this [question](https://datascience.stackexchange.com/questions/38745/increasing-spacy-max-nlp-limit).

The real solution is #44 . Right now PIICatcher is considering csv files as one big text file. Instead PIICatcher should parse csv files into rows and columns and check only one column at a time. Then this limit will not

[2020-04-02 05:38] jayeshagwan1 opened #84 "ascii_table format not working"
Getting below error when trying output format as ascii_table

\Programs\Python\Python37\lib\encodings\cp 1252.py", line 19, in encode                                                         return codecs.charmap_encode(input,self.errors,encoding_table)[0]
UnicodeEncodeError: 'charmap' codec can't encode characters in position 0-42: character maps to
--

[2020-04-02 06:12] vrajat commented on #84
https://stackoverflow.com/questions/27092833/unicodeencodeerror-charmap-codec-cant-encode-characters gives a good answer.

This is a good but very long read on encoding in Python: https://realpython.com/python-encodings-guide/

In Linux, the default encoding is utf-8 but not in windows.

    # Mac OS X High Sierra
    import locale
    locale.getpreferredencoding()
    'UTF-8'

    # Windows Serve

[2020-04-02 06:47] jayeshagwan1 commented on #84
So I found that if we use bash, we get the above error. But If we use cmd or powershell, it gives ascii table:
![image](https://user-images.githubusercontent.com/616970/78218696-d5b09200-74db-11ea-85ef-3be570f94669.png)

[2020-04-02 10:20] #84 closed

[2020-04-02 12:00] jayeshagwan1 opened #85 "Can we show data in output ?"
Is it possible to provide data in output ?

[2020-04-02 12:19] vrajat commented on #85
Can you provide more details? Output of ascii table ? Example ?

On Thu, 2 Apr 2020 at 17:31, jayeshagwan1 <notifications@github.com> wrote:

[2020-04-02 13:48] jayeshagwan1 commented on #85
In any format, can we show data along with this:
![image](https://user-images.githubusercontent.com/616970/78256857-b5ea8f80-7516-11ea-90af-327ae4cf9802.png)

[2020-04-02 15:29] vrajat commented on #85
All rows and all columns ?

On Thu, 2 Apr 2020 at 19:18, jayeshagwan1 <notifications@github.com> wrote:

[2020-04-03 10:59] food-spotter opened #86 "MySQL Syntax error raised when creating catalog table `dbcolumns`"
**Version**:
`0.9.5`

**Issue**:
MySQL syntax error is raised for peewee generated SQL:
[code]

Tested using MySQL 8.0.19 and MySQL 5.7.29 (docker image releases).

**conf file**:
[code]

**Command line command**:
`piicatcher --config config.conf db`

Debug/Error output:
[code]

[2020-04-06 07:05] #86 closed

[2020-04-06 07:16] vrajat commented on #86
@food-spotter I've released a new version. This bug is embarrassing. I was testing with sqlite and did not catch the error.

Also can I ask you a few questions over messaging/email/google survey ?

You are an expert user of this app and I want to know what is good, bad and can be improved in piicatcher.

[2020-04-08 08:52] food-spotter commented on #86
Sure, please message me on here or provide a google survey link and I'll be happy to answer.

[2020-04-13 12:16] hsdqa opened #88 "unable to get pii columns from mysql"
Tried running the piicatcher on mysql db but it did not list any columns

| TABLE_SCHEMA  | TABLE_NAME  | COLUMN_NM  | DATA_TYPE |
|-----------------  |----------------|----------------|-------------|
| testpiicatcher | cstmr      | fl_nm       | varchar   |
| testpiicatcher | cstmr      | fname       | varchar   |
| testpiicatcher | cstmr      | lname       | varchar   |

The output is blank and

[2020-04-13 13:18] vrajat commented on #88
Yes. It should detect those column names. I’ll try to reproduce the bug.

[2020-04-14 09:24] vrajat commented on #83
I'll resolve this as a duplicate of #44 as that will solve this issue.

[2020-04-14 09:24] #83 closed

[2020-04-14 10:24] vrajat commented on #88
I tried to reproduce in #89 but it worked for me. Can you paste the command line and output ? Please remove any secrets.

[2020-04-14 10:40] vrajat commented on #86
@food-spotter Here is a google survey link: https://forms.gle/Ns6QSNvfj3Pr2s9s6

Looking forward to your responses

[2020-04-14 10:42] vrajat commented on #67
I am closing this issue as I have created specific issues for all the gaps that were identified.

[2020-04-14 10:42] #67 closed

[2020-04-14 13:11] hsdqa commented on #88
@vrajat seems its working now, not really sure what the issue was, I just tried cloning the repo again and running it and it seems to be working fine now, Thanks!

But just an observation that I had, I have 2 tables cstmr(id, fname,lname,fl_name) and person(id,person,st)
cstmr.fl_nm = concatenate(fname |" " | lname and st = STATE(e.g. New York)

**Output using deep output is**
| Schema  | table  |

[2020-04-15 17:38] vrajat commented on #88
Yes. There is a difference. Check #69 where I have explained why. I’ll fix it soon.

I have another request: Can you take this survey: https://forms.gle/Ns6QSNvfj3Pr2s9s6 ?

This will help understand how to improve this project.

[2020-04-24 03:03] hsdqa commented on #88
Thanks for referencing the issue, also have submitted the form survey.

[2020-04-24 03:03] #88 closed

[2020-04-27 11:42] vrajat opened #90 "Database catalog should not be overwritten in subsequent runs."
cc @food-spotter

1. Do not add duplicate rows and columns. Instead get or create records.
2. Do not overwrite manual updates in PII.

[2020-04-28 07:19] jayeshagwan1 opened #91 "Developer setup not working"
Followed the steps mentioned in documentation, but getting below error on windows 10:

![image](https://user-images.githubusercontent.com/616970/80458581-a2341c80-894e-11ea-8b5a-c9e8d5cdf7f7.png)

[2020-04-30 17:09] #90 closed

[2020-04-30 17:42] #69 closed

[2020-04-30 17:50] vrajat commented on #91
I havent run this setup in a while. It used to work for me. I tried a new setup and it failed with another error. I am investigating.

[2020-05-01 02:51] jayeshagwan1 commented on #91
I was able to resolve this issue. Issue was with python-magic library. Need to uninstall python-magic and install **python-magic-bin==0.4.14**. **Note: I am facing this issue while command-line application also on windows.**
After installing python-magic-bin==0.4.14 I need to reinstall python-magic again.

[2020-05-01 02:51] #91 closed

[2020-05-08 05:00] vrajat opened #94 "Snowflake Support"
In a recent user survey, snowflake support is the top feature request. This issue will track addition of snowflake support. One of the challenges for development is access to snowflake.

Snowflake provides a 30 day trial which is sufficient for development. Maintenance & CI is an open question.

Snowflake information schema is available at: https://docs.snowflake.com/en/sql-reference/info-schema.h

[2020-05-08 05:01] vrajat commented on #85
@jayeshagwan1 I have sometime this week to work on the project. Can you give me an example ? Do you want to replace has_pii ? Show data from all rows ? I am not clear about the requirements.

[2020-05-08 05:03] vrajat commented on #37
If this normally occurs with csv files, #44 can reduce the chances of bad formatting.

[2020-05-08 16:40] #94 closed

[2020-05-30 10:45] NeolithEra opened #96 "Installation fails due to conflicting botocore version"
Hi, users are unable to run Piicatcher due to dependency conflict with _**botocore**_ package. As shown in the following full dependency graph of Piicatcher, pyathena requires _**botocore >=1.5.52**_，while boto3 ==1.12.1 requires _**botocore >=1.15.1,<1.16.0**_.

According to pip’s “first found wins” installation strategy, _**botocore 1.16.16**_ is the actually installed version. However, _**botoc

[2020-05-30 10:47] NeolithEra commented on #96
### Solution

1.	Loosen the version range of **_boto3_** to be **_>=1.12.1_**.
@vrajat  May I pull a request to solve this issue?

[2020-05-30 10:51] vrajat commented on #96
Thanks for the detailed issue. Please open a PR. I’ll take a look at it
over the weekend.

On Sat, 30 May 2020 at 16:17, NeolithEra <notifications@github.com> wrote:

[2020-06-09 01:42] zer0pool commented on #96
Hi.   it seems I am having similar issue installing piicatcher.
Could you let me know how to solve this ??

[code]

[2020-06-09 02:40] vrajat commented on #96
I’ll fix it today. It looks like support for Snowflake introduces this conflict.

Can you use the previous version 0.9.6 in the meantime?

[2020-06-09 16:00] #96 closed

[2020-06-19 07:17] zer0pool opened #98 "setting development virtualenv"
**Command I tried.**
- pipenv sync
- pipenv shell
- piicatcher -h

[code]

instructions from the link ( https://tokern.io/docs/piicatcher/1-installation/) seems work but following the instructions from the develoment setting page ( https://tokern.io/docs/piicatcher/development/ ) give me an error.

[2020-06-23 10:05] #98 closed

[2020-07-01 23:23] zer0pool opened #101 "Syntax error due to using a reserved word as a column name in MySQL"
Hello.

I am trying to use piicatcher.  Thank you for this wonderful solution.

and I have found a small issue that queries fail with syntax error due to using a reserved word as a column name in MySQL.
I have commited changes to my forked repository. I would like to make PR here to this repository if that is ok with you.

https://github.com/zer0pool/piicatcher/commit/72e174d91ce2d1371517e129704aa

[2020-07-01 23:30] zer0pool commented on #54
@jayeshagwan1 hello. I am wondering how this implementation go.  it would be great if this feature can be added soon.

[2020-07-02 14:29] vrajat commented on #101
Hey,
Yes - definitely. This is a valid bug and the solution is correct. Minor changes maybe required. There are a couple of other places where columns lists are constructed. Also 1 test. We can discuss in the PR.

[2020-07-09 00:41] zer0pool commented on #101
I have added testcases and changed other places where column names are used in query.
waiting for your advice.

[2020-07-09 04:22] vrajat commented on #54
There hasnt been any progress on this feature. IIRC @jayeshagwan1 got stuck in installing a test Hive cluster. @zer0pool will you be able to help out?

[2020-07-09 04:43] #101 closed

[2020-07-09 06:16] vrajat commented on #101
@zer0pool can you take this survey (https://forms.gle/Ns6QSNvfj3Pr2s9s6) if you havent already ? This will help me understand what you are using/planning to use piicatcher for.

[2020-07-09 09:45] zer0pool commented on #101
I have already taken the survey. 😁

[2020-07-16 16:51] vrajat opened #106 "File catalog throws an error with "no such file or directory""
Issue reported on Freshchat. User could not use `--catalog-file` as piicatcher threw a "no such file or directory" error.

    Error: Invalid value for "--catalog-file": Could not open file: C:\Users\XXXXX\Downloads\test.json:

[2020-07-16 16:54] vrajat opened #107 "CSV files are not supported"
{
  "files": [
    {
      "Mime/Type": "application/csv",
      "path": "tests/samples/sample-data.csv",
      "pii": [
        {
          "__enum__": "PiiTypes.UNSUPPORTED"
        }
      ]
    }
  ]

[2020-07-16 17:27] #106 closed

[2020-07-16 17:27] #107 closed

[2020-07-17 07:17] prakhargoyal opened #109 "Try to get the column name which is having PII data, but sqlite -list-all returns nothing"
@vrajat, as discussed with you on live chat, I am logging this sqlite db scanning issue which returns nothing.

I have a sqlite db, which is containing sample PII information, I have scanned it through sqlite --list-all but it returns nothing. I have tried sqlite --list-all --scan-type deep but nothing actually changed.  I have also tried to generate the catalog file, it also returns a blank file.

[2020-07-17 07:19] prakhargoyal commented on #109
Here is the columns list which I have tried to scan
![Screenshot (4)](https://user-images.githubusercontent.com/1570738/87759404-e509e000-c82b-11ea-837f-db823266c96f.png)

[2020-07-17 07:22] prakhargoyal opened #110 "Import piicatcher in python files"
Can we import this piicatcher library & use it in any program. As till now, I have only found the command line access of it, but what if I want to use it in any python program?

[2020-07-20 10:20] vrajat commented on #68
Add birthdate.

[2020-07-20 10:21] vrajat commented on #109
You had mentioned that this is from a public data set. Can you give me the link to this data set?

Do `maiden name`, `last name` and `first name` have a space? If yes, then the current regular expression will not match.

`SSN`, `gender`, `address`, `city`, `state`, `zip` and `email` should have matched. I am checking if there is a bug.

`birthdate` and `phone` are missing. I am tracking this task

[2020-07-20 10:23] vrajat commented on #110
Do you have a current use case where you want to import into an existing python application?
Is there specific functionality of PIICatcher you need to use from another python file? (I understand that all the functionality should be exposed. I am trying to break down this task and prioritize sub-tasks.

[2020-07-22 06:20] zer0pool commented on #110
@prakhargoyal
You can make a class using a class of piicatcher.
for example. here is the sample code I am using in my project.
you need to look into the original code of piicatcher to understand
which part of the class you need to import and how to initialte the task.

[code]

[2020-07-22 11:36] vrajat commented on #110
Yes. That is a good way to hack around the current interface. I do want to design and release an official API. Both your feedback will helpful.

@zer0pool can you tell me a bit more about your project? What does your project do? I am trying to understand how you want to use PIICatcher programmatically.

[2020-09-08 16:44] vrajat opened #112 "Best Practices for Automated Scans using PIICatcher"
@n2taylor @zer0pool

I want to check in to see if you are continuing to use PIICatcher.

I also want to find out if you have tried to automate or schedule piicatcher scan on your databases. I am getting questions on best practices to deploy and automate scans. Before I set best practices I want to find out from known users if they have tried to automate scans as well as what are the gaps and requi

[2020-12-10 06:50] vaidik commented on #112
We have this need as well

[2020-12-10 06:51] vaidik opened #115 "Support for custom regular expressions"
Is there a way to add custom regular expressions? If not, having support that from configuration or another JSON file would be super useful and it will make piicatcher useful for a wider audience.

[2020-12-10 09:42] vrajat commented on #115
Not yet. However this is a good feature addition. Right now, there a [RegexScanner](https://github.com/tokern/piicatcher/blob/master/piicatcher/scanner.py#L21) which uses [CommonRegex](https://pypi.org/project/commonregex/) for a list of regular expressions and maps it to [PIITypes](https://github.com/tokern/piicatcher/blob/master/piicatcher/piitypes.py).

In a custom scanner, the list can be pick

[2020-12-10 09:44] vrajat commented on #112
@vaidik, have you been successful in automating scans ? Any feedback on what worked and what hasn't worked ?

[2020-12-14 17:21] bryantbiggs commented on #110
I am interested in this as well - I would love to use this for interrogating log files in AWS to look for PII. I was hoping to use this package with a lambda function so that each new CloudWatch log stream can be interrogated in near real-time

[2020-12-16 09:46] vrajat commented on #110
That is an interesting use case @bryantbiggs . I am in the process of designing an API. I'll add a proposal for you to review. How will you get access to the log stream ? Do you have to open a S3 file? Right now, PIICatcher does not support reading files from S3.

[2020-12-16 12:33] bryantbiggs commented on #110
Thanks @vrajat ! I planned on getting the file contents through some means and then passing the contents to piicatcher. Following the event driven paradigm in AWS - we plan on listening to new CloudWatch log stream put events which would trigger a function to grab that log stream and then pass  it to piicatcher, and likewise with S3 put events: grab the file from S3 and pass it to piicatcher

[2020-12-17 04:58] rusq opened #118 "Redshift database and TABLESAMPLE BERNOULLI"
Redshfit database does not support TABLESAMPLE BERNOULLI, which piicatcher issues.

Command used to invoke:
[code]

Resulting error:
[code]

[2020-12-17 14:00] vrajat commented on #118
I have a potential fix in a branch. Will you be open to trying it? I can give you instructions to install and run.

I dont have access to a redshift instance to test my changes at the moment.

[2020-12-17 14:03] vrajat commented on #110
Then can the file API accept a file descriptor ? Something like:

    with open(...) as fp:
      scan_results = piicatcher.scan_fd(fp)

Then the API does not have to worry about how to get access to file contents.

[2020-12-17 14:21] bryantbiggs commented on #110
exactly. if `piicatcher` has a way to accept [file like objects](https://docs.python.org/3/glossary.html#term-file-object) that would be a great start

[2020-12-17 19:21] rusq commented on #118
Sure

[2020-12-18 04:10] vrajat commented on #118
Thanks! Instructions:

    git clone https://github.com/vrajat/piicatcher -b issue-118
    cd piicatcher
    pipenv install -e .
    pipenv shell
    piicatcher ....

[2020-12-20 21:00] rusq commented on #118
I don't seem to see the branch, @vrajat  did you push it?

[code]

[2020-12-21 07:46] vrajat commented on #118
Fixed. Can you check again?

[2020-12-21 23:02] rusq commented on #118
Still running into the same issue, but this is due to `factory` not returning the correct explorer
see this line:
https://github.com/vrajat/piicatcher/blob/issue-118/piicatcher/explorer/databases.py#L139

After removing `or 'redshift` part it worked!

[2020-12-21 23:15] rusq commented on #118
P.S I wasn't able to make this version going with pipenv, I always have problems with pipenv - it doesn't like me and I don't like it, so I used the "production" setup with importing the (patched version of the) module from the current directory.

[2020-12-21 23:18] rusq commented on #118
Made a suggestion on the PR #120

[2020-12-22 04:30] #118 closed

[2020-12-22 04:43] vrajat commented on #118
*sigh* - Silly mistake. Thanks for the suggestion and trying out the fix. I have released v0.12.3 with the fix. Also please take this [survey](https://forms.gle/Ns6QSNvfj3Pr2s9s6) It helps me understand what developers need from this project.

[2020-12-22 04:48] rusq commented on #118
No problem, thanks for fixing it so fast, glad I was able to help.

We are experimenting with piicatcher at the moment, I'll be able to answer the survey at the end of January, right now I don't have anything concrete to say, but I'll make a note of that to myself - will be happy to provide feedback in future

[2020-12-31 10:41] #110 closed

[2020-12-31 11:35] vrajat commented on #110
Please check [API docs](https://tokern.io/docs/piicatcher/api) to import and use PIICatcher functions

[2021-02-19 10:11] kvrameshreddy opened #126 "piicatcher is not executing"
windows10 64-bit
python 3.8.7

Piicatcher installation is done without any errors.
When i try to run the piicatcher on csv files throws an error.
piicatcher files --path 'us-500.csv'  give error
![first_error](https://user-images.githubusercontent.com/49742709/108489589-bbd09700-72c7-11eb-95eb-905d2bffb90e.PNG)

After exploring google found a solution to this
Solution: pip uninstall python-magic

[2021-02-19 11:11] vrajat commented on #126
Did you install the spacy english pack?

    # Install Spacy English package
    python -m spacy download en_core_web_sm

[2021-02-19 11:14] kvrameshreddy commented on #126
Hi @vrajat,
i have installed spacy english pacakge.

[2021-02-19 11:30] vrajat commented on #126
Which version of spacy is installed?

[2021-02-19 11:32] kvrameshreddy commented on #126
Latest Version 3.0 was installed in my system.

[2021-02-19 11:35] vrajat commented on #126
piicatcher has been tested with v2.3.5. v3.0 has incompatible changes. Can you downgrade to the latest v2.x?

Install piicatcher and spacy 2.x in a virtual environment. I'll use this issue to either upgrade to the latest API or set the dependency version correctly.

[2021-02-19 11:37] kvrameshreddy commented on #126
Sure @vrajat  i will downgrade spacy and check.

[2021-02-19 12:13] kvrameshreddy commented on #126
Now i am getting the following error
![third_error](https://user-images.githubusercontent.com/49742709/108503103-d3b11680-72d9-11eb-8e5f-75f36c9f2892.PNG)

And how to save the output of piicatcher to a file

[2021-03-05 05:02] vrajat commented on #126
The above error message is because `tableprint` - the library used to print terminal may not be compatible with putty or powershell.

This [doc page](https://tokern.io/docs/piicatcher/3-catalog) explains the various options. Use `--catalog-file` to store to a file.

Closing this issue hoping that this will resolve your issue. Please reopen if you still face problems.

[2021-03-05 05:02] #126 closed

[2021-05-03 16:41] GLT-Dashboard opened #129 "Unable to read from the oracle DB schema"
@vrajat
Hope all are well and doing great!!

Thank you for such a fantastic library

This is what I am facing:

As mentioned on [https://tokern.io/docs/piicatcher/4-aws](https://tokern.io/docs/piicatcher/4-aws) and discovering that "-t" doesn't work for DB selection I was able to find the right selector argument from databases.py which is "--connection-type". Using the same and updating my piicatc

[2021-05-04 04:03] vrajat commented on #129
This error is w.r.t to printing in a tabular format in the terminal. Can you try `--catalog-format json --catalog-file <path>`? This will output the results in json format.

[2021-05-04 04:08] vrajat commented on #129
Thanks for pointing out that `-t` is overloaded. I'll file a new issue. Thanks!

[2021-05-04 04:09] vrajat opened #130 "`-t` is overloaded between connection_type and table."
Thanks for pointing out that `-t` is overloaded. I'll file a new issue. Thanks!

_Originally posted by @vrajat in https://github.com/tokern/piicatcher/issues/129#issuecomment-831671050_

[2021-05-04 05:06] GLT-Dashboard commented on #129
@vrajat, Thanks a lot for the prompt response..

Could you please provide additional inputs on how to utilize --catalog-format json --catalog-file <path> ??
Do I have to append it to the db read string " piicatcher db -s ________ -R 2020 -u REPORT_USER -p _________ -d PLATFORM -c shallow --connection-type oracle -n REPORT_USER" ??

[2021-05-04 05:09] vrajat commented on #129
Yes. Add these two options to the existing command line.

[2021-05-04 05:14] rusq commented on #129
@GLT-Dashboard, hey man, what does this has to do with me or other people you mentioned, except, maybe Rajat?  Did you just go and pick random people from the issue/pr list?

[2021-05-04 12:31] GLT-Dashboard commented on #129
Yes you are right just thought since you all worked on the issues earlier, would be easier to get more replies on the issue being faced, was impressed by the amazing issues created and resolved by you all, but never the less I have modified my previous comment, sorry to bother.

[2021-05-04 12:31] GLT-Dashboard commented on #129
Thank you @vrajat

[2021-05-05 04:54] GLT-Dashboard commented on #129
Hey @vrajat as directed in your previous comment I did try both these commands below
This is the sample data we tried running the piicatcher on both oracle as well as file based
![InkedMicrosoftTeams-image (1)_LI](https://user-images.githubusercontent.com/77790174/117098270-f9c44f80-ad3b-11eb-9c96-d5d32887bbe5.jpg)

**1st**-
piicatcher --catalog-format json --catalog-file results.json db -s 192.16

[2021-05-06 02:00] vrajat commented on #129
Can you share the CSV of the sample data? I'll check it out.

[2021-05-06 03:09] GLT-Dashboard commented on #129
Hi @vrajat,

I was unable to upload the CSV file.. Please find the google drive link as below -
https://docs.google.com/spreadsheets/d/1ww48ta9gntw5xL1KY1OEiay1RrwLBjZou-ASQ1eNU0I/edit?usp=sharing

I am also attaching the .xlsx format -
[PII_df.xlsx](https://github.com/tokern/piicatcher/files/6431473/PII_df.xlsx)

The same sample data was pushed to Oracle database under a separate schema and this

[2021-05-07 08:00] vrajat commented on #129
I tried out the sample file and you can see the results in [this line](https://github.com/tokern/piicatcher/pull/131/files#diff-1a0296dda6f2354dbd684ffe949ff0338a913bf6d144d68b6ec300cff357f6c9R72) I am getting relevant output. So this is somehow related to oracle. It is working on postgres.

I dont have access to oracle. Can you run piicatcher with debug logging? Add `--log-level DEBUG` Please san

[2021-05-07 08:10] GLT-Dashboard commented on #129
Good afternoon, Rajat.. I will execute as you have suggested, by adding the log level.. Alternatively, I will also push the same sample data to Postgres. Also, can you please share the screenshot, so that I can have a reference??
Thanks!

[2021-05-07 09:10] vrajat commented on #129
The output is in the link I provided in the previous comment.

[2021-05-07 09:12] vrajat commented on #129
Another possible problem is that the following query in Oracle is not returning any results. You have to run piicatcher with an admin user.

        SELECT
            '{db}', TABLE_NAME, COLUMN_NAME
        FROM
            USER_TAB_COLUMNS
        WHERE UPPER(DATA_TYPE) LIKE '%CHAR%'
        ORDER BY TABLE_NAME, COLUMN_ID

(replace {db} with PLATFORM)

[2021-05-07 09:55] GLT-Dashboard commented on #129
@vrajat ,
1. In the DEBUG mode, I was able to read the column headers from the Oracle DB, however, the output file still came up blank.
2. Replacing [db] with PLATFORM gave me missing command error.

Anything else I could check?? Am I missing something here??

[2021-05-07 09:57] vrajat commented on #129
1. Can you attach the logs?
2. Did you enclose PLATFORM in quotes?

[2021-05-07 10:06] GLT-Dashboard commented on #129
@vrajat ,

1. These are the logs - piicatcher --log-level DEBUG --catalog-format json --catalog-file results.json --config cfg.ini db

![Capture1](https://user-images.githubusercontent.com/77790174/117433580-42048d00-af49-11eb-9e60-5b8cfb102b2b.JPG)

2. I enclosed PLATFORM in quotes within the config file, I got an error as -> Error reading configuration file: Invalid line (''PLATFORM'') (matched

[2021-05-07 10:23] vrajat commented on #129
never mind about PLATFORM. I've got my answer from the screenshot. Can you share the log file?

[2021-05-07 10:33] GLT-Dashboard commented on #129
@vrajat , Which log file are you referring to?? Please let me know the path.. Is it created by log_mixin.py??

[2021-05-07 10:35] vrajat commented on #129
the logs from log_mixin. Redirect it to a file and attach it.

    piicatcher --log-level DEBUG ... > log_file 2>&1

[2021-05-07 11:09] GLT-Dashboard commented on #129
Attaching the log file -

[log_file.LOG](https://github.com/tokern/piicatcher/files/6441075/log_file.LOG)

[2021-05-07 11:11] GLT-Dashboard commented on #129
@vrajat , Attaching the log file -

[log_file.txt](https://github.com/tokern/piicatcher/files/6441078/log_file.txt)

[2021-05-07 16:35] vrajat commented on #129
Are there more logs after this? If not, that is a problem. For example, I get logs that look like below:

    DEBUG    piicatcher.log_mixin.Schema:metadata.py:82 Scanning public
    DEBUG    piicatcher.log_mixin.Table:metadata.py:82 Scanning sample_2
    DEBUG    piicatcher.log_mixin.Column:metadata.py:154 Scanning column name Social Security number
    DEBUG    root:scanner.py:98 PiiTypes are Pii

[2021-05-07 16:39] vrajat commented on #129
Why have you added `-n REPORT_USER`? That is the problem. You should remove it from the command line.

[2021-05-08 12:00] GLT-Dashboard commented on #129
@vrajat , There are no more additional logs, I sent u the entire log file.. Also, -n REPORT_USER was added to scan only that particular schema, & within that schema, I have created the sample_PII table..

[2021-05-11 03:02] vrajat commented on #129
There is definitely some problem there with -n. It is excluding tables or schemas from scanning. I'll have to try to reproduce it.

[2021-05-13 14:44] GLT-Dashboard commented on #129
@vrajat ,
1. We have pushed the same data to Postgres DB, as shown below :

<img width="960" alt="capture2" src="https://user-images.githubusercontent.com/77790174/118141472-070dc800-b427-11eb-8cec-88208e26da64.png">

2. This is the log file as attached for the Postgres DB.

[log_file.txt](https://github.com/tokern/piicatcher/files/6473125/log_file.txt)

3. Or alternatively, can we run the test_sa

[2021-05-14 07:13] vrajat commented on #129
in the postgres log file - its a connection issue. its not the same issue as the oracle one.

To run the sample file, you will have to setup a development environment. Instructions are here: https://tokern.io/docs/piicatcher/development
Instructions work on an ubuntu (or most linux variants) and mac.

[2021-05-14 07:27] vrajat commented on #129
Re-iterating that your command line is wrong. From the oracle logs:

    DEBUG:piicatcher.log_mixin.Database:Name: database, include: (REPORT_USER), exclude: ()
    DEBUG:piicatcher.log_mixin.Schema:Name: PLATFORM, include: (), exclude: ()

You have specified it to include `REPORT_USER` schema. However piicatcher only finds `PLATFORM` schema. So it doesnt include `PLATFORM` schema. You should fix

[2021-05-17 04:50] vrajat commented on #129
Closing this issue because I believe I have helped you identify the wrong usage of command line parameters with Oracle. Also the connection issue with postgres is not an issue within PIICatcher. Please open a new issue once you fix these and if piicatcher is still not working for you.

[2021-05-17 04:50] #129 closed

[2021-06-17 01:13] pelegshilo opened #134 "ImportError: failed to find libmagic. Check your installation"
I installed piicatcher using pip and I get the above error whenever I try to run piicatcher, even just with --help. Here's the full traceback:
Traceback (most recent call last):
  File "C:\Users\Peleg.Shilo\AppData\Local\Programs\Python\Python38\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\Peleg.Shilo\AppData\Local\Programs\Python\

[2021-06-17 01:19] pelegshilo commented on #134
I managed to resolve this by running
` pip uninstall python-magic
pip install python-magic-bin==0.4.14`
I will submit a PR to fix the pipfile

[2021-06-18 03:36] vrajat commented on #134
Thanks for filling the issue and contributing a PR. I'll verify and accept.

[2021-07-13 16:32] #112 closed

[2021-07-13 16:32] #109 closed

[2021-08-13 05:39] #130 closed

[2021-08-13 07:56] vrajat commented on #52
I'll be removing support for files.

[2021-08-13 07:56] vrajat commented on #37
Limited by tableprint. Wont fix.

[2021-08-13 07:56] #37 closed

[2021-08-13 07:58] vrajat commented on #44
Wont do. I am moving focus to databases only.

[2021-08-13 07:58] #44 closed

[2021-08-13 08:45] #85 closed

[2021-08-15 18:21] #52 closed

[2021-09-24 03:55] shaunakv1 opened #138 "Feature Request: Support for binary formats like PDFs and XLS"
Is it a possibility to add support for scanning binary formats (primarily PDF and XLS) for PII?

[2021-09-25 04:43] vrajat commented on #138
Hi @shaunakv1
I started this project by scanning databases and files. Scanning files has not been a popular feature and it has hard to support given the different number of file systems and file formats that are out there. Along with the complexity of supporting multiple databases it is making the project too complex. So I've decided to focus only on supporting databases. I am making changes to th

[2021-09-25 04:43] #138 closed

[2021-10-29 05:02] yourssvk opened #139 "psycopg2.errors.InvalidSchemaName: schema "<schemaname>" does not exist"
Problem description:

For some schemas in Redshift, PII catcher returns this error:

Traceback (most recent call last):
  File "/Users/<username>/.env/bin/piicatcher", line 8, in <module>
    sys.exit(cli())
  File "/Users/<username>/.env/lib/python3.9/site-packages/click/core.py", line 829, in __call__
    return self.main(*args, **kwargs)
  File "/Users/<username>/.env/lib/python3.9/site-package

[2021-10-30 15:52] yourssvk commented on #139
user schema...

On Fri, Oct 29, 2021 at 7:58 PM Rajat Venkatesh ***@***.***>
wrote:

[2021-11-02 09:25] yourssvk commented on #139
Wondering if this is the issue, let me check.. https://github.com/sqlalchemy/alembic/issues/610

[2021-11-02 10:01] vrajat commented on #139
I am not sure if it is related. Can you run with `--debug`? That will provide more information on the internal flow. I am wondering if this has something to do with spaces or special characters in the name.

[2021-11-02 10:55] didizlatkova opened #140 "ImportError: cannot import name 'scan_file_object' from 'piicatcher'"
I want to use piicatcher on files, not on databases, but there seems to be no **scan_file_object** method implemented.
I'm using the example code from the README file:

[code]

[2021-11-02 11:00] vrajat commented on #140
Hi @didizlatkova
I have removed support for files. File support was buggy and hard to maintain given the numerous filesystem protocols. PIICatcher only has support for databases and data warehouses. I am in the process of updating all docs and descriptions.

Sorry for the confusion.

[2021-11-02 11:03] vrajat commented on #140
If you want to scan databases, then change the import statement to

    from piicatcher import scan_database

I've updated the README as well.

[2021-11-02 11:08] didizlatkova commented on #140
Hi, thanks for the clarifications. My usecase is very simple - I want to scan a list of texts for PII, the texts are not in a database, that's why I was going for the file option. Is there an easy way to expose an API to run on just text input?

[2021-11-02 11:14] vrajat commented on #140
You should consider microsoft/presidio which has much better support for scanning text and images. This is also another reason why I removed support for files. Presidio is better at it.

[2021-11-02 11:23] yourssvk commented on #139
I did not face the issue when I retried today, with no changes...wondering if this is related to some timing issue (happens a few runs later or something?) - I can confirm that as i continue to test...

[2021-11-02 12:07] yourssvk commented on #139
Ok Got the issue with that --log-level DEBUG option .. this option needs to be included to documentation

It was a table named like schemaname.schemaname.tablename (accidentally by some user most likely)

[2021-11-02 12:08] #139 closed

[2021-11-02 12:09] yourssvk commented on #139
Table name was the problem...

[2021-11-02 13:21] #140 closed

[2021-11-03 14:43] yourssvk opened #141 "TypeError: reduce() of empty sequence with no initial value"
Guess this is a bug with pii catcher - the schema has thousands fo tables and it hits this - havent looked at the code yet:

2787833 DEBUG:root:has_pii <piicatcher.explorer.metadata.Column object at 0x132e4ea60> has set()
2787834 DEBUG:root:has_pii <piicatcher.explorer.metadata.Column object at 0x132e4eac0> has set()
2787835 Traceback (most recent call last):
2787836   File "/Users/***/.env/bin/pi

[2021-11-03 16:00] ghost opened #142 "Filters for schema and table are not working when running from CLI for aws"
We are using cli to run piicatcher aws. We need to scan only particular schema/table. To do so, we followed the instructions in the documentation: https://tokern.io/docs/piicatcher/include_exclude_lists
It seems, that the piicatcher scans all the tables, because we are getting errors about the tables, that shouldn't be scanned:
`pyathena.error.OperationalError: HIVE_INVALID_METADATA: Hive metadata

[2021-11-03 16:19] vrajat commented on #142
Are you running piicatcher on AWS Athena or AWS Glue?

[2021-11-04 13:46] okzz commented on #142
Hi @vrajat, I'm a colleague of @St-Jester. it's AWS Athena

[2021-11-04 14:50] vrajat commented on #142
I re-ran tests for include/exclude. Also another user successfully used include/exclude on redshift. So the base logic is working. I think the problem is specific to Athena. Can you check if cases differ in the exclude args vs the table name returned by Athena?

The names are matched using python re.

[2021-11-06 08:55] kirill-andr opened #143 "setup.py file is missing from master"
I thinks the setup.py file is missing from master branch. I do not see it in Git and also in the cloned directory.
also missing: requirements.txt

[2021-11-06 09:24] vrajat commented on #143
Piicatcher uses poetry. Instead of setup.py, it uses pyproject.toml

[2021-11-06 09:26] kirill-andr commented on #143
@vrajat thank you. Would you be able to update documentation and installation instructions, which still refer to setup.py

[2021-11-06 09:34] vrajat commented on #143
Ah - I am in the process of updating docs. I'll keep track of this one as well.

Can you paste the error message?

[2021-11-09 14:16] vrajat commented on #49
closing as piicatcher uses a catalog to store database info.

[2021-11-09 14:16] #49 closed

[2021-11-09 14:18] vrajat commented on #142
I've released a new version that revamps the design and removes custom code for Athena. It uses sqlalchemy to connect and a common code base for include/exclude. I've tested the common code base. Can you run again and check?

[2021-11-09 14:18] vrajat commented on #141
Closing this as I've rewritten most of the code and released a new version including the console printing logic.

[2021-11-09 14:18] #141 closed

[2021-11-09 14:21] vrajat commented on #134
I've removed the feature to scan files.

[2021-11-09 14:21] #134 closed

[2021-11-09 14:24] #54 closed

[2021-11-09 14:29] vrajat commented on #143
I've update the docs at https://tokern.io/docs/piicatcher/installation

[2021-11-09 14:29] #143 closed

[2021-11-10 10:22] yourssvk opened #145 "psycopg2.DatabaseError: SSL SYSCALL error: Operation timed out"
Issue:

It will be good to incorporate a query timeout for really long running queries to skip and move forward to the next table and log the skipped table in the final report/ somewhere:

Traceback (most recent call last):
  File "/Users/username/.env/bin/piicatcher", line 8, in <module>
    sys.exit(cli())
  File "/Users/username/.env/lib/python3.9/site-packages/click/core.py", line 829, in __ca

[2021-11-11 19:15] camilosantana opened #146 "unable to scan local filesystem"
## Issue

Expecting this to scan recursively

`piicatcher files --path <path>` generates error (see below)

## Recreate

[code]

[code]

[2021-11-13 06:04] vrajat commented on #146
Hi Camilo,
This typically happens when there is no output to display. One option is to use `--output-format json`. Also please note that you are using a old version of PiiCatcher and I've removed support for scanning files. It is a high maintenance feature and I do not have the bandwidth to support all the different technologies. microsoft/presidio is a better choice if you want to scan files.

[2021-11-13 18:22] camilosantana commented on #146
no rpoblem. thanks for the reply. i'm looking for something quick to use in a pre-commit hook to encourage devs to not upload PHI artefacts.

I'll check out the microsoft solution but likely just use whatever data loss prevention function is available with whatever AV solution we figure out.

Thanks again and have a great weekend.

[2021-11-13 18:22] #146 closed

[2021-11-15 13:14] vrajat commented on #146
Interesting use case. Is a Github app or action that scans the diff a practical option for you?

[2021-11-15 17:17] camilosantana commented on #146
Ideally a pre-commit hook so it doesn't get into history in the first place.

On Mon, Nov 15, 2021 at 6:14 AM Rajat Venkatesh ***@***.***>
wrote:

--
-Camilo

[2021-11-16 15:38] #145 closed

[2021-11-18 08:18] yourssvk opened #150 "Can't find model 'en_core_web_sm'"
Traceback (most recent call last):
  File "/Users/username/tokern/.env/bin/piicatcher", line 8, in <module>
    sys.exit(app())
  File "/Users/username/tokern/.env/lib/python3.9/site-packages/typer/main.py", line 214, in __call__
    return get_command(self)(*args, **kwargs)
  File "/Users/username/tokern/.env/lib/python3.9/site-packages/click/core.py", line 1128, in __call__
    return self.main(

[2021-11-18 08:37] vrajat commented on #150
Did you run `python -m spacy download en_core_web_sm` ?

Another option is to run with `--scan-type shallow`

[2021-11-22 19:47] albert-salman opened #151 "Versions 0.16-0.17.1 fails to run when installed from pip"
Hello,
Cannot start Athena scan
with CLI command
 piicatcher scan  athena --name ExampleScan --region-name "us-east-1" --include-schema "names" --aws-access-key-id "key
" --aws-secret-access-key "secret" --s3-staging-dir "s3://aws-athena-query-results"

with error

/mnt/c/SalmanA/Projects/Privacy/Tokern/piic/lib/python3.8/site-packages/alembic/ddl/sqlite.py:74: UserWarning: Skipping unsupported AL

[2021-11-23 13:40] #151 closed

[2021-11-23 14:18] vrajat commented on #151
I've released v0.17.2 Can you please give that a try?

[2021-11-23 15:25] albert-salman commented on #151
Working, thanks. I have now another issue - i can only use STS token based auth. For 0.15.0 i was able to correct code to add session token support because different pyathena connection method has been used, but for 0.16+ it is SQLAlchemy based rest access and sesson token seem to be not supported at all by AWS.

[2021-11-23 15:38] vrajat opened #153 "Alternate authentication methods for Athena"
Working, thanks. I have now another issue - i can only use STS token based auth. For 0.15.0 i was able to correct code to add session token support because different pyathena connection method has been used, but for 0.16+ it is SQLAlchemy based rest access and sesson token seem to be not supported at all by AWS.

__Originally posted by @albert-salman in https://github.com/tokern/piicatcher/issues/

[2021-11-23 15:40] vrajat commented on #153
@albert-salman can you explain the changes you had to make? Sqlalchemy+pyathena should support all the methods

[2021-11-23 17:29] albert-salman commented on #153
In 0.15 was pyathena "connect" method, like that
cursor = connect(aws_access_key_id="YOUR_ACCESS_KEY_ID",
                 aws_secret_access_key="YOUR_SECRET_ACCESS_KEY",
                 **aws_session_token="YOUR_SESSION_TOKEN"**,
                 s3_staging_dir="s3://YOUR_S3_BUCKET/path/to/",
                 region_name="us-west-2").cursor()

 starting 0.16 you use SQLAlchemy which use REST and

[2021-11-24 05:10] vrajat commented on #153
What changes did you have to make in 0.15 to make it work in STS?

As per pyathena docs, it should be possible to use other methods through sqlalchemy. Piicatcher has to be fixed and I am trying to understand what changes I need to make to help you to continue to use STS method.

This is the quote from pyathena README:

If you do not specify aws_access_key_id and aws_secret_access_key using instan

[2021-11-24 09:30] albert-salman commented on #153
Yes, but STS auth require to use also Session Token in addition to key and secret.
As i said i added session token to connect method (and other places required to pass it from cli arg down to this method)
    def _open_connection(self):
        return pyathena.connect(
            aws_access_key_id=self.config.access_key,
            aws_secret_access_key=self.config.secret_key,
            **aws_

[2021-11-24 09:54] albert-salman commented on #153
Hmm, looks like it can be fixed using following method
https://github.com/laughingman7743/PyAthena/issues/54

When no creds are specified in connection string it will read then using boto3 credential fetch mechism, so if e.g. ENV vars configured it should work.

For piicatcher this mean to allow to omit creds in CLI so that boto3 ones read. But testing required.

[2021-11-24 09:58] vrajat commented on #153
I agree. Also you can set credentials through a config file at ~/.aws/config (https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html)

Let me make sure that piicatcher can accept empty access and secret tokens and create the correct URL. Then you can try with environment variables or config file?

[2021-11-24 10:03] albert-salman commented on #153
Yep, would be great.

[2021-11-24 17:28] vrajat commented on #153
Please try version 0.17.3 by setting the creds in environment variables or in `~/.aws/config` as per boto3 docs and NOT specifying `aws_access_key_id` and `aws_secret_access_key`

[2021-11-24 22:01] patrick-mckinley opened #155 "Athena scan throws an error on the athena extractor instantiation"
When running piicatcher both as an API in a python script and directly from the command line i get the following:

Running:
[code]

i get:
[code]

i am running versions `0.17.3` on macosx
[code]

As a seperate issue i seem to get an error when i manually run that SQL in the athena termincal minus the "None as cluster" clause. but i think that's more around AWS than piicatcher.

[2021-11-25 03:07] vrajat commented on #155
This should be solved if you add `--database <db name>`. I'll keep this issue open to improve the error message.
Also, can you help me understand how you think about database and schema w.r.t Athena? In Postgres and MySQL, a database contains schemata which in turn contain tables.

In case of Athena, database and schema are interchangeable. So looks like piicatcher should ignore database. Is my th

[2021-11-25 04:45] yourssvk opened #156 "incremental run does not merge instead tries to insert duplicate..."
2021-11-25 09:38:48.030 IST [85029] STATEMENT:  INSERT INTO columns (created_at, updated_at, name, data_type, sort_order, pii_type, pii_plugin, table_id) VALUES (now(), now(), 'os', 'character varying', 8, NULL, NULL, 362) RETURNING columns.id
^CTraceback (most recent call last):
  File "/Users/<username>/.env/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 1276, in _execute_context

[2021-11-25 06:41] yourssvk opened #157 "sensitive information about a db scan should not be stored"
In sources metadata table in catalog

[2021-11-25 07:44] vrajat commented on #157
Do you mean passwords? These are required for subsequent scans. Will it help if they are encrypted?

[2021-11-25 08:19] yourssvk opened #158 "parallelism in scans"
Seems like the deep scan and the shallow scan are running sequentially, can make parallelism an option, so that the scan can finish way sooner....

[2021-11-25 09:09] yourssvk commented on #157
encrypting is good...also it will be good to define the exact privs
required in each database case so that the user need not have superuser
access...

On Thu, Nov 25, 2021 at 1:15 PM Rajat Venkatesh ***@***.***>
wrote:

[2021-11-25 10:07] albert-salman commented on #153
Hello,
Still require keys:
(piic) piic $ piicatcher scan athena --s3-staging-dir "s3://aws-athena-query-results"  --name PIIscan --region-name "us-east-1" --include-schema "myschema"
Usage: piicatcher scan athena [OPTIONS]
Try 'piicatcher scan athena --help' for help.

Error: Missing option '--aws-access-key-id'.

[2021-11-25 12:36] yourssvk opened #159 "Progress report/ status on deep scan whilst not running in DEBUG mode"
Progress report/ status on deep scan whilst not running in DEBUG mode is badly required, as a projection of how long will the scan take to complete is not possible to be predicted...

[2021-11-25 15:22] patrick-mckinley commented on #155
Adding `--database` to it results in another error:
[code]

What is the `cluster` key supposed to achieve in that query?

I mean, you're right about schema and database being interchangable though - so that does make sense.

[2021-11-25 15:33] vrajat commented on #155
I plan to remove it. It is a field required by a library piicatcher depends on. I plan to fill a dummy value there. It is not used by athena code anyway.

[2021-11-25 16:24] #153 closed

[2021-11-25 16:24] #155 closed

[2021-11-25 16:25] vrajat commented on #155
I've released `0.17.4`. please give that a try.

[2021-11-25 16:25] vrajat commented on #153
I've released `0.17.4`. please give that a try.

[2021-11-25 16:46] albert-salman commented on #153
hm, quick test - not working
sqlalchemy.exc.DatabaseError: (pyathena.error.DatabaseError) An error occurred (UnrecognizedClientException) when calling the StartQueryExecution operation: The security token included in the request is invalid.

looks like creds were not found (neither from config nor from ENVs)

looks like a test required outside of piicatcher to know for sure

[2021-11-25 23:33] patrick-mckinley commented on #155
Thanks, that works - except for the `--database` argument not being accepted.
I manually tweaked the athena information_schema query to put the `{catalog_source}` in quotes as a literal, and that works.

Not sure what the fix for adding in the `--database` flag is here.

https://github.com/tokern/piicatcher/issues/155#issuecomment-979299260

[2021-11-26 01:09] vrajat commented on #155
Ignore my comment on --database. It is not required. It should work without it.

[2021-11-26 01:11] vrajat commented on #153
Agree. Unclear if it is a setup or a piicatcher problem. I have ensured the connection string looks correct as per docs.

[2021-11-26 09:41] patrick-mckinley commented on #155
ah cool.

There's still an issue, which is basically the same as above (only instead of "None" it's now the value of the "name" parameter)

[code]

As mentioned above - I've made a kludge to put that `{catalog_source}` in the query code in inverted commas so it comes through as a string literal and not a column reference - which i believe is the intention - and t least i'm unblocked with that :)

[2021-11-26 15:07] #156 closed

[2021-11-26 15:20] vrajat commented on #155
*sigh* Sorry about that. I dont have access to athena right now and I havent been able to test it. I have added quotes now.

[2021-11-26 17:01] patrick-mckinley commented on #155
haha, no worries. thanks for sorting that out

I've been there myself a few times :)

[2021-11-28 06:07] yourssvk opened #162 "ERROR: duplicate key value violates unique constraint "unique_column_name""
ERROR:  duplicate key value violates unique constraint "unique_column_name" -> This happens on a brand new catalog db on a redshift deep scan, most likely it requires a better unique key constraint...

[2021-11-29 01:02] #159 closed

[2021-11-29 05:50] yourssvk opened #164 "shallow scan followed by deep scan causes pk/ uk violations (and possibly viceversa)"
shallow scan followed by deep scan causes pk/ uk violations (and possibly viceversa)

[2021-11-29 05:51] yourssvk commented on #150
python -m spacy download en

^^ solves the problem

[2021-11-29 05:52] #150 closed

[2021-11-29 14:57] vrajat commented on #164
I've run shallow and deep scans interchangeably multiple times. Do you have a stack trace or any other information that can be helpful?

[2021-11-29 16:00] yourssvk commented on #164
Please park this one aside, will get the trace next time...

On Mon, Nov 29, 2021 at 8:27 PM Rajat Venkatesh ***@***.***>
wrote:

[2021-12-06 05:43] yourssvk opened #167 "Some name columns are identified as phone pii - unable to ascertain why..."
Some name columns are identified as phone pii - unable to ascertain why... - it will be good to dump sample values that led to this conclusion somewhere, so that we can go check if they are really PII or a false alark, there must a way to stage such changes before pushing it to datahub/ amundsen, else the option might be to rollback the changes on the datahub/ amundsen side...

[2021-12-07 04:19] astha74 opened #170 "Scan snowflake PII catcher"
I am using PII checker lib for scanning pii data in snowflake database.
https://github.com/tokern/piicatcher][1]

but **scan_snowflake** function is internally creating url with postgreSQL
here is my code

[code]
Can anyone please tell how to get PII data of snowflake using PII catcher API?

[2021-12-11 13:32] vrajat commented on #170
My guess is that there is another source with the name `pii_db` which is a postgres database. The code internally runs this if condition:

            try:
                source = catalog.get_source(name)
            except NoResultFound:
                source = catalog.add_source(
                    name=name,
                    username=username,
                    password=password,

[2021-12-17 15:46] #115 closed

[2021-12-17 15:46] #157 closed

[2022-01-23 15:24] ehilfer opened #177 "Error parsing info on dropped column during deep (data) detect command"
Residual info on dropped column seems to return bad data to the CatColumn list from postgres.
m.data_type is None

The position of the next column as viewed in pgadmin skips over a few positions, jumping from position 4 to position 7, so I think that the code is looking at the data for a dropped column.

Logging the object m from the lambda function shows this when attempting to look at column pos

[2022-01-28 10:18] #177 closed

[2022-02-11 09:15] yourssvk opened #178 "sqlalchemy.orm.exc.NoResultFound: No row was found for one()"
Problem description:

If I run detect on a Redshift database with a new catalog db specified for the run, it returns this:

piicatcher --catalog-host localhost --catalog-port 5432 --catalog-user piicatcher --catalog-password <blah> --catalog-database piicatcher_1 detect --source-name <dbname> --scan-type metadata --include-schema <schemaname>

Traceback (most recent call last):
  File "/home/ec2-u

[2022-02-11 10:09] vrajat commented on #178
Also it is better to specify the catalog information in a config file.

https://tokern.io/docs/catalog/configuration#config-file

[2022-02-14 08:21] vlavorini opened #179 "Datahub ingestion function"
Hi folks,
I see you name it in in the documentation, but I am unable to find it.

Can you please suggest where to look for it, and how to use it?

Thank you,

Vinecnzo

[2022-02-14 08:28] vrajat commented on #179
Export is documented here: https://tokern.io/docs/catalog/export#datahub

[2022-02-14 08:29] vlavorini commented on #179
so easy... thank you!

[2022-02-14 08:29] #179 closed

[2022-03-31 07:18] #170 closed

[2022-03-31 07:19] #142 closed

[2022-04-08 05:02] TheTheoM opened #184 "No row was found for one() when trying Local File"
I try to run
` piicatcher detect --source-name mysqlsampledatabase.sql`
which throws:
    raise orm_exc.NoResultFound("No row was found for one()")
sqlalchemy.orm.exc.NoResultFound: No row was found for one() and some python errors ` line 214, in __call__
    return get_command(self)(*args, **kwargs)` etc

The terminal is in the right directory.
The sql file was changed to txt, so it can be upload

[2022-04-13 00:05] #184 closed

[2022-05-30 00:03] yu-iskw opened #186 "Support Google Cloud BigQuery"
We would like to scan PII data on BigQuery.

[2022-05-30 00:03] yu-iskw opened #187 "Support Google Cloud Spanner"
We would like to scan PII data on Cloud Spanner.

[2022-06-04 11:12] rohitcoderCdefense opened #189 "Unable to Connect to Postgres"
Hi There,

I'm not sure, why i can't connect to postgres using this tool, credentials are correct. Postgres running on same server localhost:5432 used same username and password to login into psql and pgadmin4

Any ideas on this?

<img width="802" alt="image" src="https://user-images.githubusercontent.com/104613917/171996534-ca6ecf20-8950-4275-bfec-f7063d570ec2.png">

[2022-06-09 13:10] morty29 commented on #189
If you are using docker then localhost is a docker container rather than your host machine, use host.docker.internal instead to access it

[2022-06-14 15:14] rohitcoderCdefense commented on #189
@morty29 Sorry, for delay but i am not running with docker, i tested with docker today and your solution works with that, but not working with system postgres

[2022-06-21 22:53] LiamStorkey opened #190 "Scan can take DAYS on large database clusters"
I have recently tried to implement the piicatcher library using api mode into my workflow to identfy any Pii data in our databases. I am running in AWS RDS Clusters which can have up to 660 databases inside it. When running PIICatcher in this environment, the library tries to make queries to the `INFORMATION_SCHEMA` table which holds information about every other database in the rds cluster as wel

[2022-06-22 01:55] tokernjan commented on #190
Hi @LiamStorkey,

I believe this query is being generated using the [databuilder](https://github.com/amundsen-io/amundsen/tree/main/databuilder) package from the Admunson project: https://github.com/amundsen-io/amundsen/blob/main/databuilder/databuilder/extractor/mysql_metadata_extractor.py#L28-L47

The databuilder metadata extractor is used via the [dbcat](https://github.com/tokern/dbcat) package

[2022-06-23 03:15] vrajat commented on #190
This is a useful optimization. @tokernjan is right about the flow control. Another possibility is to implement a custom extractor which is similar to `mysql_metadata_extractor` and rewrite the query on the information schema.

For example, tokern/dbcat implements https://github.com/tokern/dbcat/blob/main/dbcat/catalog/sqlite_extractor.py

Then the fast extractor can be instantiated using a flag in

[2022-06-23 03:25] vrajat commented on #189
This is problem with settings of postgresql on your local box. However it is hard to guess which setting is missing or misconfigured  in your postgresql setup. Stackoverflow has a few different solutions. Can you try those? As such there is no restriction or known issue with using piicatcher with local postgres.

[2022-10-25 01:08] yu-iskw opened #196 "Support OpenMetadata integration"
We take OpenMetadata. So, I would like another integration for it.

[2022-10-31 08:26] okids opened #197 "Redshift doesnt support bernoulli tablesample"
Hi, I am running piicatcher with data scan to redshift tables, I found that there was an error on the query because it contains bernoulli keywords. Can we fix that? At the moment I just remove the bernoulli keywords

[2022-11-01 15:59] ian-lewis-d opened #198 "Unclear example of export to datahub"
Loving PiiCatcher but I'm having some trouble pushing PII data to Datahub.

I'm following the instructions here https://tokern.io/docs/catalog/export/#installation and here https://tokern.io/docs/catalog/export/#basic-recipe.

The problem seems to be when reading my Sqllite database (which definitely has data).

Original Scan

`
$ piicatcher scan mysql --name mands_test_cat --database testdb --por

[2022-11-02 08:42] vrajat commented on #198
Thanks for the kind words. You’ll have to specify “path” which has to
contain the path to the SQLite file.

On Tue, 1 Nov 2022 at 21:29, Ian Lewis ***@***.***> wrote:

[2022-11-02 11:23] vrajat opened #199 "Unique Constraint Failed"
Hi @vrajat,

I get this error any idea? Thanks!

My attempt:

[code]

The error
[code]

_Originally posted by @utekakca in https://github.com/tokern/piicatcher/issues/144#issuecomment-1300086320_

[2022-11-02 11:25] vrajat commented on #199
The sqlite database already has a database named `employee`. Probably from a previous run. Can you use some other name? If you want to use the same name, then `add_sqlite_source` should be in an if condition where you check if it already exists. (There is an api to get all sources).

[2022-11-24 17:25] ian-lewis-d commented on #198
Hi @vrajat,

My understanding from the Datahub engineering team is that they do **not** support piicatcher input.

Obviously, if you have a working solution it would be great to see it.

I am now able to run the `datahub import` command against the piicatcher SQLite db (using the `dbcat.datahub.CatalogSource` configuration.

However the import to Datahub is unsuccessful and tags are not applied.

[2022-11-25 01:36] vrajat commented on #198
@yjagdale will you be able to help?